<main class="main-section ks-bg-col">
    <div class="ks-content">
        <section class="wishlist-section">
            <div class="container pt-5 pb-4">
                <div class="ks_section_box">
                    <div class="text-center pb-5">
                        <img src="assets/images/empty-cart/empty-new.svg" alt="wishlist_empty" class="img-fluid">
                        <h2 class="mt-4 f-w-600 font-35 ks-dark-text ks-head">
                            Your Cart is empty
                        </h2>
                        <button [routerLink]="['']" routerLinkActive="router-link-active"  class="btn btn-primary mt-4 py-md-3 px-md-5 f-w-600">
                            Continue Shopping
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>