<main class="main-section">
    <div class="ks-content">
        <section class="ks_latest_blogs pb-3">
            <div class="container">
                <div class="row mt-3">
                    <div class="col-md-9 ks-card-content">
                        <div class="ks-head mt32 text-center">
                            <h1>Fresh Feed</h1>
                        </div>
                        <div class="row mt32">
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="blog_card card h-100">
                                    <a>
                                        <div class="ks-banner-left-text">
                                            <img src="../../../assets/images/blog/1Anniversery_Blog.jpg" alt="blog-img" class="img-fluid">
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a class="ks_post_title font-16 f-w-500">
                                            3 Years of Successful Journey of The Ksolves-Store
                                        </a>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/calendar.svg" alt="calendar-icon" class="mr8">
                                            <span>Dec 30, 2021</span>
                                        </div>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/folder.svg" alt="folder-icon" class="mr8">
                                            <span class="ks-link">In <a class="mr8">Odoo</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="blog_card card h-100">
                                    <a>
                                        <div class="ks-banner-left-text">
                                            <img src="../../../assets/images/blog/2Magento_Blog-min.jpg" alt="blog-img" class="img-fluid">
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a class="ks_post_title font-16 f-w-500">
                                            Buy FREE Magento 2 Multi-Vendor Marketplace & Boost Revenue
                                        </a>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/calendar.svg" alt="calendar-icon" class="mr8">
                                            <span>Dec 20, 2021</span>
                                        </div>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/folder.svg" alt="folder-icon" class="mr8">
                                            <span class="ks-link">In <a class="mr8">Magento</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="blog_card card h-100">
                                    <a>
                                        <div class="ks-banner-left-text">
                                            <img src="../../../assets/images/blog/3Odoo Saas Toolkit_Blog-min.jpg" alt="blog-img" class="img-fluid">
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a class="ks_post_title font-16 f-w-500">
                                            Sell Odoo As A SaaS To Your Clients With Ksolves SaaS Toolkit
                                        </a>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/calendar.svg" alt="calendar-icon" class="mr8">
                                            <span>Dec 15, 2021</span>
                                        </div>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/folder.svg" alt="folder-icon" class="mr8">
                                            <span class="ks-link">In <a class="mr8">Odoo</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="blog_card card h-100">
                                    <a>
                                        <div class="ks-banner-left-text">
                                            <img src="../../../assets/images/blog/4Reportmate_Blog-min.jpg" alt="blog-img" class="img-fluid">
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a class="ks_post_title font-16 f-w-500">
                                            Manage Hundreds Of Business Reports with Ksolves ReportMate For Odoo
                                        </a>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/calendar.svg" alt="calendar-icon" class="mr8">
                                            <span>Dec 14, 2021</span>
                                        </div>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/folder.svg" alt="folder-icon" class="mr8">
                                            <span class="ks-link">In <a class="mr8">Odoo</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="blog_card card h-100">
                                    <a>
                                        <div class="ks-banner-left-text">
                                            <img src="../../../assets/images/blog/5Change Your Business in 2022.jpg" alt="blog-img" class="img-fluid">
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a class="ks_post_title font-16 f-w-500">
                                            This is how the Shopify Marketplace will change with Ksolves Odoo Connector in 2022
                                        </a>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/calendar.svg" alt="calendar-icon" class="mr8">
                                            <span>Dec 13, 2021</span>
                                        </div>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/folder.svg" alt="folder-icon" class="mr8">
                                            <span class="ks-link">In <a class="mr8">Odoo</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="blog_card card h-100">
                                    <a>
                                        <div class="ks-banner-left-text">
                                            <img src="../../../assets/images/blog/6Blog Banner.jpg" alt="blog-img" class="img-fluid">
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a class="ks_post_title font-16 f-w-500">
                                            How to migrate from Magento 1 to Magento 2?
                                        </a>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/calendar.svg" alt="calendar-icon" class="mr8">
                                            <span>Dec 09, 2021</span>
                                        </div>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/folder.svg" alt="folder-icon" class="mr8">
                                            <span class="ks-link">In <a class="mr8">Magento</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="blog_card card h-100">
                                    <a>
                                        <div class="ks-banner-left-text">
                                            <img src="../../../assets/images/blog/7_68 Magento.jpg" alt="blog-img" class="img-fluid">
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a class="ks_post_title font-16 f-w-500">
                                            Magento 2 Multi-Vendor Extension for Multivendor Marketplaces by Ksolves
                                        </a>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/calendar.svg" alt="calendar-icon" class="mr8">
                                            <span>Dec 06, 2021</span>
                                        </div>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/folder.svg" alt="folder-icon" class="mr8">
                                            <span class="ks-link">In <a class="mr8">Magento</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="blog_card card h-100">
                                    <a>
                                        <div class="ks-banner-left-text">
                                            <img src="../../../assets/images/blog/8Blog Banner.jpg" alt="blog-img" class="img-fluid">
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a class="ks_post_title font-16 f-w-500">
                                            Ksolves Cyber Monday: The only Monday that All of us look forward to!
                                        </a>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/calendar.svg" alt="calendar-icon" class="mr8">
                                            <span>Nov 29, 2021</span>
                                        </div>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/folder.svg" alt="folder-icon" class="mr8">
                                            <span class="ks-link">In <a class="mr8">Festive Offers</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3">
                                <div class="blog_card card h-100">
                                    <a>
                                        <div class="ks-banner-left-text">
                                            <img src="../../../assets/images/blog/9The Black Friday Shopping Guide blog image.jpg" alt="blog-img" class="img-fluid">
                                        </div>
                                    </a>
                                    <div class="card-body">
                                        <a class="ks_post_title font-16 f-w-500">
                                            The Comprehensive Guide to Ksolves Black Friday Event
                                        </a>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/calendar.svg" alt="calendar-icon" class="mr8">
                                            <span>Nov 24, 2021</span>
                                        </div>
                                        <div class="text-muted d-flex align-items-center">
                                            <img src="../../../assets/images/blog/folder.svg" alt="folder-icon" class="mr8">
                                            <span class="ks-link">In <a class="mr8">Festive Offers</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container ks-page-count pr-0 pl-0">
                            <nav>
                                <ul class="pagination mb-0">
                                    <li class="page-item disabled">
                                        <a class="page-link">
                                            <img src="../../../assets/images/blog/arrow.svg" class="pagination-arrow pagination-prev" alt="Right Arrow">
                                            Previous
                                        </a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">5</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link">
                                            Next
                                            <img src="../../../assets/images/blog/arrow.svg" class="pagination-arrow pagination-next" alt="Right Arrow">
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3 blog_right_column">
                        <div class="mt32">
                            <h4 class="ks-head">
                                About us
                            </h4>
                            <p class="ks-para1">Ksolves India Limited is a National Stock Exchange-listed customized software and product development company with diversity expanding to Odoo and Magento. With 350+ seasoned engineers, we pride on converting visions into reality. Our other expertise includes Big Data, Salesforce, Microservices, Openshift, and many more.</p>
                        </div>
                        <div class="mt32 mb32">
                            <a class="btn btn-primary btn-lg ks_contact_us_btn">Contact Us</a>
                        </div>
                        <div class="mt32 mb32 our_blogs ">
                            <h4 class="ks-head">Our Blogs</h4>
                            <ul class="nav nav-pills flex-column">
                                <li class="nav-item d-block">
                                    <a class="nav-link">
                                        <span>Odoo</span>
                                    </a>
                                </li>
                                <li class="nav-item d-block">
                                    <a class="nav-link">
                                        <span>Magento</span>
                                    </a>
                                </li>
                                <li class="nav-item d-block">
                                    <a class="nav-link">
                                        <span>PrestaShop</span>
                                    </a>
                                </li>
                                <li class="nav-item d-block">
                                    <a class="nav-link">
                                        <span>Festive Offers</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="mt32 mb32 blog_products">
                            <h4 class="ks-head">Our Top Products</h4>
                            <div class="row ks_products_blog">
                                <div class="col-lg-12 mb-1 card ks_prd_media">
                                    <div class="row py-1">
                                        <div class="col-4 d-flex align-items-center">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>