<footer class="ks-footer">
    <section class="footer-up pt-5 pb-5 small">
        <div class="container">
            <div class="row pl-3 mb-4">
                <img src="../../../assets/images/storeLogo.png" alt="Ksolves Store Logo" class=" image-fluid" width="210" height="72" loading="lazy">
            </div>
            <div class="row footer-container">
                <div class="col-md-5 col-lg-4 mb-3 mb-md-0">
                    <div class="d-flex align-items-start pr-lg-5 ">
                        <svg class="icon mr-2"  width="34" height="34">
                            <use xlink:href="/assets/sprite.svg#map_location"></use>
                        </svg> 
                        <p class="m-0">Third Floor, B-4 Office No 301, B Block Rd, Sector 63, Noida Uttar Pradesh
                            201301, India</p>
                    </div>
                    <ul>
                        <li class="mt-4 mb-2 d-flex align-items-center"> 
                            <svg class="icon mr-2"  width="20" height="18">
                                    <use xlink:href="/assets/sprite.svg#phone"></use>
                            </svg>
                            <div class="ks-call">
                                <a href="tel:+1(646)-203-1075"><span
                                        class="font-13 d-flex align-items-center mr-2">+1(646)-203-1075,</span></a>
                                &nbsp;
                                <a href="tel:+91-7498170227"><span
                                        class="font-13 d-flex align-items-center">+91-7498170227</span></a>
                            </div>
                        </li>
                        <li class="d-flex align-items-center"> 
                            <svg class="icon mr-2"  width="20" height="18">
                                    <use xlink:href="/assets/sprite.svg#mail"></use>
                            </svg>
                            <a href="mailto:sales@ksolves.com">
                                <span class="font-14 d-flex align-items-center">sales@ksolves.com</span>
                            </a>
                        </li>
                        <li class="mt-4 mb-2">
                            Follow Us
                        </li>
                        <li  class="d-flex align-items-center mb-0 social-links">
                            <a href="https://www.facebook.com/Ksolves.Store/" target="_blank">
                                <svg class="icon"  width="20" height="20">
                                        <use xlink:href="/assets/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                            <a href="https://twitter.com/ksolveso?lang=en" target="_blank">
                                <svg class="icon" width="22" height="22">
                                    <use xlink:href="/assets/sprite.svg#twitter"></use>
                                </svg>
                            </a>
                            <a href="https://www.instagram.com/ksolvesstore/" target="_blank">
                                <svg class="icon"  width="22" height="22">
                                    <use xlink:href="/assets/sprite.svg#instagram"></use>
                                </svg>
                            </a>
                            <a href="https://www.youtube.com/channel/UCplv9V47g9VidekGN6Wp1ew" target="_blank">
                                <svg class="icon"  width="22" height="22">
                                    <use xlink:href="/assets/sprite.svg#youtube_1"></use>
                                </svg>
                            </a>
                            <a href="https://www.linkedin.com/showcase/ksolves-odoo-store/" target="_blank"
                                class="d-flex" loading="lazy">
                                <svg class="icon"  width="22" height="22">
                                    <use xlink:href="/assets/sprite.svg#linkedin1"></use>
                                </svg> 
                            </a> 
                        </li> 
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-3 mb-md-0">
                    <ul>
                        <li>
                            <a routerLink="/about-us" target="_blank">About Us</a>
                        </li>
                        <li>
                            <a routerLink="/testimonials" target="_blank">Testimonials</a>
                        </li>
                        <li>
                            <a routerLink="/success-stories" target="_blank">Success Stories</a>
                        </li>
                        <li>
                            <a routerLink="/press" target="_blank">In the Press</a>
                        </li>
                        <li>
                            <a routerLink="/our-culture" target="_blank">Culture</a>
                        </li>
                        <!-- <li>
                            <a routerLink="/blog" target="_blank">Blog</a>
                        </li> -->
                        <li>
                            <a routerLink="/sitemap" target="_blank">Sitemap</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-3 mb-md-0">
                    <ul>
                        <li>
                            <a routerLink="/refund-policy" target="_blank">Refund Policy</a>
                        </li>
                        <li>
                            <a routerLink="/customization-policy" target="_blank">Customization Policy</a>
                        </li>
                        <li>
                            <a routerLink="/support-and-maintenance" target="_blank">Odoo Support & Maintenance</a>
                        </li>
                        <li>
                            <a routerLink="/licence-agreement" target="_blank">License Agreement</a>
                        </li>
                        <li>
                            <a routerLink="/terms-and-policies" target="_blank">Terms & Policies</a>
                        </li>
                        <li>
                            <a routerLink="/cookies-policy" target="_blank">Cookies Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li>
                            <a routerLink="/contact-us" target="_blank">Contact Us</a>
                        </li>
                        <li>
                            <a routerLink="/ticket-request" target="_blank">Raise Your Ticket</a>
                        </li>
                        <li>
                            <a routerLink="/request-a-quote" target="_blank">Request a Quote</a>
                        </li>
                        <li>
                            <a routerLink="/submit-idea" target="_blank">Submit Your Ideas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-down pt-5 pb-5">
        <div class="container">
            <div class="footer-container">
                <h3 class="font-weight-bold text-white">
                    Our Prowess
                </h3>
                <div class="row">
                    <div class="col-md-6 small">
                        E-commerce, Odoo Apps, Odoo Themes, Odoo Development, Odoo Integrations, Odoo Consultation,
                        Point of Sale (POS), Odoo Support, & Odoo Implementation
                    </div>
                    <div class="col-md-6">
                        <div class="ks-img-right text-center text-md-right">
                            <img src="../../../assets/images/footer/visa.webp" alt="visa-img" class="mr-2 mt-2" width="60" height="40" loading="lazy">
                            <img src="../../../assets/images/footer/master-card.webp" alt="master-card-img" class="mr-2 mt-2" width="60" height="40" loading="lazy">
                            <img src="../../../assets/images/footer/paypal.webp" alt="paypal-img" class="mr-2 mt-2" width="60" height="40" loading="lazy">
                            <img src="../../../assets/images/footer/amazon_pay.webp" alt="amazon-img" class="mr-2 mt-2" width="60" height="40" loading="lazy">
                            <img src="../../../assets/images/footer/amex.webp" alt="amex-img" class="mr-2 mt-2" width="60" height="40" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="copyright pt-2 pb-2 text-center">
        <p class="m-0 small">© 2022 store.ksolves.com. All rights reserved.</p>
    </section>
</footer>

<!-- cookie section starts -->
<section class="ks-cookie-area" [hidden]='cookies_section'>
    <div class="ks_cookies_panel">
        <div class="font-16 f-w-600 pb-2 d-flex align-items-center justify-content-between">
            <span class="ks-cookie-head">COOKIES</span>
            <button class="btn px-1 f-w-400 close ks_cookies_panel_btn" (click)="close_cookie()">x</button>
        </div>
        <div class="font-14">
            <p class="ks-cookie-para">This website stores cookies on your computer. These cookies are used to improve
                our website and
                provide more personalized services to you, both on this website and through other media. To find out
                more about the cookies we use, see our <a href="#" target="_blank" class="text-warning">Cookies
                    Policy</a>.
            </p>
        </div>
        <div class="text-center py-2 ks-cookie-btn">
            <button class="btn btn-warning px-4 f-w-600 ks_cookies_panel_btn_accept mr-1"
                (click)="accept_cookies()">Accept</button>
            <button class="btn btn-outline-warning px-4 f-w-600 ks_cookies_panel_btn_decline"
                (click)="close_cookie()">Decline</button>
        </div>
    </div>
</section>
<!-- cookie section ends -->