<main class="main-section ks-bg-col">
    <div class="ks-content">
        <div class="container">
            <div class="row">
                <div
                    class="col-11 col-md-10 px-md-4 mx-auto my-4  rounded-20 overflow-hidden  bg-blue px-2 py-md-5 position-relative">
                    <div class="text-white close">
                        <a href="#">
                            <img src="../../../assets/images/thank_you/close.png" alt="cross-icon">
                        </a>
                    </div>
                    <div class="p-md-5 my-xs-2 text-center text-md-left">
                        <h4 class="mt-md-3 mb-4 my-xs-2 ">Thank you!
                        </h4>
                        <p class="text-white">
                            We value your response, your personalized Demo Server credentials will be sent to you via
                            email.
                        </p>
                        <p class="text-white mt-3 mb-3">
                            Our representative will connect with you shortly!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>