<div *ngIf="isLoadingBool" class="loading-indicator">
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
</div>
<main class="main-section ks-bg-col">
    <div class="ks-content">
        <section class="ks-reset-pw ">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="oe_reset_password_form">
                <h2 class="f-w-600 font-30 mb-4">Reset Password</h2>
                <div class="form-group field-login mb-3">
                    <input formControlName="email" type="email" name="login" id="" class="form-control"
                        placeholder="Your Email" required>
                    <ng-container *ngFor="let error of error_messages.email">
                        <div class="error-message"
                            *ngIf="resetPasswordForm.get('email').hasError(error.type) &&
                                          (resetPasswordForm.get('email').dirty || resetPasswordForm.get('email').touched)">{{
                            error.message }}</div>
                    </ng-container>
                </div>
                <div class="oe_login_buttons">
                    <button [disabled]="!resetPasswordForm.valid" class="btn btn-primary btn-block"
                        type="submit">Confirm</button>
                    <div class="d-flex justify-content-between align-items-center small mt-2">
                        <a [routerLink]="['/registration/login']" class="font-14">Back to Login</a>
                    </div>
                </div>
            </form>
        </section>
    </div>

</main>