.main-section {
  .ks-reset-pw {
    padding: 30px 0;
    @media screen and (max-width: 991px) {
      padding: 0;
    }
    .oe_reset_password_form {
      max-width: 300px;
      position: relative;
      margin: 50px auto;
      @media screen and (max-width: 991px) {
        margin: 0 auto;
      }
      .form-group {
        input {
          font-size: 0.9rem;
          line-height: 1.5rem;
          border-radius: 0;
        }
      }
      .form-group :focus {
        color: #495057;
        box-shadow: none;
        border-color: #404040;
        outline: 0;
      }
      .oe_login_buttons {
        a {
          text-decoration: none;
          color: #000000;
        }
      }
    }
  }
}
