<div class="ks-support">
    <div class="container py-3 py-md-4">
        <div class="ks-support-cont d-flex align-items-center justify-content-md-center">
            <div data-aos="fade-right" data-aos-duration="1200"
                class="ks-support-list d-flex align-items-center justify-content-center p-2 p-md-3 mx-3">
                <!-- <img src="./../../../assets/images/icons/support-date.webp" alt="" width="50" height="47" class="mr-2" /> -->
                <svg class="icon mr-2" style="width:45px; height: 45px;">
                    <use xlink:href="/assets/sprite.svg#365days-icon"></use>
                </svg>
                <span><strong>Mon - Fri From</strong><br>
                    (10 AM - 10 PM) IST</span>
            </div>
            <div data-aos="fade-down" data-aos-duration="1200"
                class="ks-support-list d-flex align-items-center justify-content-center p-2 p-md-3 mx-3">
                <!-- <img src="./../../../assets/images/icons/free-support.webp" alt="" width="50" height="49" /> -->
                <svg class="icon mr-2" style="width:45px; height: 45px;">
                    <use xlink:href="/assets/sprite.svg#support-icon"></use>
                </svg>
                <span class="font-weight-bold">120 Days Free Support</span>
            </div>
            <div data-aos="fade-right" data-aos-duration="1200"
                class="ks-support-list d-flex align-items-center justify-content-center p-2 p-md-3 mx-3">
                <svg class="icon mr-2" style="width:76px; height: 17px;">
                    <use xlink:href="/assets/sprite.svg#nascom"></use>
                </svg>
                <!-- <img src="./../../../assets/images/icons/nascom.svg" alt="" width="76" height="17" /> -->
                <span class="font-weight-bold">Nasscom Member</span>
            </div>
        </div>
    </div>
</div>