<main class="main-section ks-bg-col">
    <div class="ks-content">
        <section class="pt-4 pt-md-5 pb-4 sitemap sitemap_section px-3">
            <div class="container">
                <div class="row py-4 py-lg-5 light-bg rounded-20 bg_white_wrapper">
                    <div class="col-lg-10 col-md-12 m-auto">
                        <div class="row mx-0">
                            <div class="col-md-12 mb-4 mb-lg-5 page_heading_wrap">
                                <h1 class="f-w-600 font-45 text-center mb-1">
                                    Sitemap
                                </h1>
                            </div>
                            <div class="col-md-4 mb-md-5 mb-0 ks-title-groups">
                                <h4 class="font-22 f-w-600">About Us</h4>
                                <ul>
                                    <li class="mb-3">
                                        <a [routerLink] = "['/about-us']" class="font-16 d-inline-block">
                                            About Us
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 mb-md-5 mb-0 ks-title-groups">
                                <h4 class="font-22 f-w-600">Apps</h4>
                                <ul>
                                    <li class="mb-3">
                                        <a [routerLink] = "['/shop/odoo-apps']" class="font-16 d-inline-block">
                                            Apps
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 mb-md-5 mb-0 ks-title-groups">
                                <h4 class="font-22 f-w-600">Themes</h4>
                                <ul>
                                    <li class="mb-3">
                                        <a  [routerLink] = "['/shop/odoo-themes']" class="font-16 d-inline-block">
                                            Themes
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 mb-md-5 mb-0 ks-title-groups">
                                <h4 class="font-22 f-w-600">Know About Ksolves</h4>
                                <ul>
                                    <li class="mb-3">
                                        <a [routerLink] = "['/about-us']" class="font-16 d-inline-block">
                                            About Us
                                        </a>
                                    </li>
                                   
                                    <li class="mb-3">
                                        <a [routerLink] = "['/testimonials']" class="font-16 d-inline-block">
                                            Testimonials
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a [routerLink] = "['/success-stories']" class="font-16 d-inline-block">
                                            Success Story
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a [routerLink] = "['/press']" class="font-16 d-inline-block">
                                            In The Press
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a [routerLink] = "['/our-culture']" class="font-16 d-inline-block">
                                            Culture
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 mb-md-5 mb-0 ks-title-groups">
                                <h4 class="font-22 f-w-600">Quick Links</h4>
                                <ul>
                                    <li class="mb-3">
                                        <a [routerLink] = "['/request-a-quote']" class="font-16 d-inline-block">
                                            Request A Quote
                                        </a>   
                                    </li>
                                    <li class="mb-3">
                                        <a [routerLink] = "['/refund-policy']" class="font-16 d-inline-block">
                                            Refund Policy
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a [routerLink] = "['/customization-policy']" class="font-16 d-inline-block">
                                            Customization Policy
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a [routerLink] = "['/contact-us']" class="font-16 d-inline-block">
                                            Contact Us
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 mb-md-5 mb-0 ks-title-groups">
                                <h4 class="font-22 f-w-600">Legal</h4>
                                <ul>
                                    <li class="mb-3">
                                        <a [routerLink] = "['/licence-agreement']" class="font-16 d-inline-block">
                                            License Agreement
                                        </a>    
                                    </li>
                                    <li class="mb-3">
                                        <a [routerLink] = "['/terms-and-policies']" class="font-16 d-inline-block">
                                            Terms and Policies
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a [routerLink] = "['/support-and-maintenance']" class="font-16 d-inline-block">
                                            Odoo Support & Mainenance
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a [routerLink] = "['/submit-idea']" class="font-16 d-inline-block">
                                            Submit Your Ideas
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>