<main class="main-section ks-bg-grey">
    <div class="ks-content">
        <section class="ks-policy">
            <div class="container pt-4 pt-md-5 pb-4">
                <div class="mx-2 row py-md-5 py-4 light-bg rounded-20">
                    <div class="col-lg-10 col-md-12 m-auto">
                        <h2 class="ks-poilcy-head text-center mb-md-5 mb-3 f-w-700">
                            License Agreement
                        </h2>
                        <div class="text-center text-underline pb-4 f-w-600">
                            <u>Ksolves India Limited: Software License Agreement</u>
                        </div>
                        <p class="font-16">
                            This agreement is made effective on the date of the purchase of the Odoo app between Ksolves India Limited, based out of B-4, 301 Sector-63, Noida, UP, India, 201301 (hereinafter referred to as “Ksolves India Limited” or “Licensor"), and the purchaser of the software/ product (hereinafter referred to as "Licensee").
                        </p>
                        <p class="font-16">
                            By using the Software, Licensee acknowledges that Licensee has read this Agreement and agrees to the content of the Agreement and its terms.       
                        </p>
                        <p class="font-16 mb-4 mb-md-5">
                            The Agreement comes into legal force the
                            moment Licensee Orders Software from any medium or market place
                            and applies to all extensions received, no matter if they are
                            free or paid extensions.
                        </p>
                        <div class="mb-4 mb-md-5">
                           <p class="f-w-600 font-18">Ownership</p>
                           <p class="font-16">
                            Ksolves India Limited is the copyright holder of the Software and source code. All rights, title, copyright, and interest in the Software, Source Code, Software Modifications and Error corrections will be and remain the property of Ksolves India Limited.
                           </p>
                           <p class="font-16">
                            The Software or a portion of it is a copyrightable matter and is liable to protection by the law. Any activity that infringes terms of this Agreement violates copyright law and will be prosecuted according to the current law. Ksolves India Limited reserves the right to revoke the license of any user who is holding an invalid license or who has illegally copied or distributed the Software.
                           </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">Software License</p>
                            <p class="font-16">
                                The license does not authorize the Licensee to compile, copy or distribute the said Software or its derivative works. As a creation of derivative works by the Licensee is prohibited, thus, all right, title, copyright, and interest in any and/or all derivative works and improvements created by, or on behalf of, Licensee will also be deemed to the property of Licensor i.e. Ksolves India Limited.
                            </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">Usage Control</p>
                            <p class="font-16">
                                This Agreement gives Licensee the right to use only one copy of the Software and on one domain solely for own personal or business use, subject to all other terms of this Agreement.
                            </p>
                            <p class="font-16">
                                A separate License has to be purchased for each new Software installation. Any distribution of the Software without the written consent of the Licensor (including non-commercial distribution) is regarded as a violation of this Agreement.
                            </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">No further selling/sub-leasing/renting
                            </p>
                            <p class="font-16">
                                Licensee may not give, sell, sub-license, rent, lease or lend any portion of the Software and its documentation to anyone.
                            </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">Code usage control
                            </p>
                            <p class="font-16">
                                Licensee may not use any part of the code in whole or part in any other software or product or website. Licensee may
                                not place the Software on a server so that it is accessible via a public network such as the Internet for distribution
                                purposes. Licensee is bound to preserve the copyright information intact in the source files, this includes any text/links.
                            </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">
                                Support and Software updates    
                            </p>
                            <p class="font-16">
                                Support period and support entitlement will be defined in accordance with the plan selected during the software purchase. Within the given period Licensee will be eligible to receive software updates as well as technical support.
                            
                            </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">
                                Compliance with Applicable Laws           
                            </p>
                            <p class="font-16">
                                Licensees must comply with all applicable laws regarding the use of software products. Ksolves's software is protected by copyright laws and intellectual property laws. Any activity violating copyright law will be prosecuted according to the current law. Ksolves India Limited retains the right to revoke the license of any user holding an invalid license.
                            </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">
                                Termination of Agreement
                            </p>
                            <p class="font-16">
                                If a Licensee fails to use the Software in accordance with the terms and conditions of this License Agreement, it constitutes a breach of the agreement, and license to use the program is revoked. License agreement remains effective until terminated.
                            </p>
                            <p class="font-16">
                                Licensee may terminate the agreement at any time by destroying all copies of the Software. Termination of this Agreement does not bind the Licensor to return the amount spent for purchase of the Software.
                            </p>
                            <p class="font-16">
                                In the event, this Agreement is terminated for any reason, the copyrights and intellectual property-related provisions of this agreement shall survive.
                            </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">
                                Limitation of Liability
                            </p>
                            <p class="font-16">
                                The Software and documentation, if any, are provided by Licensor without any warranty of any kind, express or implied, including but not limited to the warranties of merchant liability, fitness for a particular purpose and non-infringement.
                            </p>
                            <p class="font-16">
                                In no event shall Licensor be liable for any damages (including, without limitation, lost profits, business interruption, or lost information) arising out of authorized users' use of or inability to use the products. As well as, in no event will the Licensor be liable for prosecution arising from the use of the Software against law or for any illegal use.             
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>