<section class="ks-testimonials">
    <div class="container py-4 py-md-5">
        <div class="test-header d-flex align-items-center justify-content-between w-100">
            <h3 class="text-dark f-w-400 font-36 mb-4 mb-lg-5">Testimonials</h3>
            <a href="#" class="ks-view d-md-none mb-4 mb-lg-5" [routerLink]="['/testimonials']"
                routerLinkActive="router-link-active">View All</a>
        </div>
        <div class="testHome">
            <ul class="m-0 p-0 d-flex justify-content-between w-100">
                <li class="position-relative">
                    <div class="testimonials-card bg-orange ks-hover-top pt-5">
                        <!-- <div class="ks-inner-card"> -->
                        <div class="ks-front-card">
                            <div class="img-area text-center">
                                <img src="./../../../assets/images/testimonial/David_Ogles.jpg" alt="pic"
                                    class="img-fluid" width="123" height="123" loading="lazy">
                            </div>
                            <p class="ks-text-hover">Ksolves has been an invaluable partner to our business. Their
                                product expertise coupled with an unwavering commitment to customer service has enabled
                                our company to introduce new functionality to our customer base with zero issues. Their
                                responsiveness to any question or request that we have presented ensures that our
                                partnership will continue to grow. I highly recommend Ksolves and their products to any
                                customer!</p>
                            <h3 class="title text-center font-16 f-w-600 m-0">David Ogles</h3>
                            <p class="category text-center font-14 m-0">President</p>
                            <p class="category text-center font-14 m-0">Digitech Services Inc.</p>
                        </div>
                        <div class="ks-back-card">
                            <p class="ks-back-text-hover font-14">Ksolves has been an invaluable partner to our
                                business. Their product expertise coupled with an unwavering commitment to customer
                                service has enabled our company to introduce new functionality to our customer base with
                                zero issues. Their responsiveness to any question or request that we have presented
                                ensures that our partnership will continue to grow. I highly recommend Ksolves and their
                                products to any customer!</p>
                        </div>
                        <!-- </div> -->
                    </div>
                </li>
                <li class="position-relative">
                    <div class="testimonials-card bg-pink ks-hover-top pt-5">
                        <div class="ks-front-card">
                            <div class="img-area text-center">
                                <img src="./../../../assets/images/testimonial/Mahmoud_Ali.jpg" alt="pic"
                                    class=" img-fluid" width="123" height="123" loading="lazy">
                            </div>
                            <p class="ks-text-hover">
                                It's such a great team, very qualified and professional, it was a pleasure dealing with
                                them. We deal with them in more than one difficult and complex task, and they are
                                responsible and professional to finish it on time and with a high quality.
                            </p>
                            <h3 class="title text-center font-16 f-w-600 m-0">Mahmoud Ali</h3>
                            <p class="category text-center font-14 m-0">Application manager</p>
                            <p class="category text-center font-14 m-0">MEGA TRUST GROUP</p>
                        </div>
                        <div class="ks-back-card">
                            <p class="ks-back-text-hover font-14">It's such a great team, very qualified and
                                professional, it was a pleasure dealing with them. We deal with them in more than one
                                difficult and complex task, and they are responsible and professional to finish it on
                                time and with a high quality.</p>
                        </div>
                    </div>
                </li>
                <li class="position-relative">
                    <div class="testimonials-card bg-blue ks-hover-top pt-5">
                        <div class="ks-front-card">
                            <div class="img-area text-center">
                                <img src="./../../../assets/images/testimonial/William_Cazara.jpg" alt="pic"
                                    class=" img-fluid" width="123" height="123" loading="lazy">
                            </div>
                            <p class="ks-text-hover">
                                We have been working with Ksolves on several development projects. Their expertise and
                                professionalism were evident throughout the development cycle of our projects, and we
                                were very pleased with the final results. They have shown enormous skill and vast domain
                                knowledge and their experts are reliable and trustworthy. We would recommend Ksolves to
                                anyone looking for quality IT development, delivered professionally.
                            </p>
                            <h3 class="title text-center font-16 f-w-600 m-0">William Cazara</h3>
                            <p class="category text-center font-14 m-0">Head of IT Operations</p>
                            <p class="category text-center font-14 m-0">S.J. GRAND</p>
                        </div>
                        <div class="ks-back-card">
                            <p class="ks-back-text-hover font-14">We have been working with Ksolves on several
                                development projects. Their expertise and professionalism were evident throughout the
                                development cycle of our projects, and we were very pleased with the final results. They
                                have shown enormous skill and vast domain knowledge and their experts are reliable and
                                trustworthy. We would recommend Ksolves to anyone looking for quality IT development,
                                delivered professionally.</p>
                        </div>
                    </div>
                </li>
                <li class="position-relative">
                    <div class="testimonials-card bg-pink ks-hover-top pt-5">
                        <div class="ks-front-card">
                            <div class="img-area text-center">
                                <img src="./../../../assets/images/testimonial/Herbert_Riener.jpg" alt="pic"
                                    class=" img-fluid" width="123" height="123" loading="lazy">
                            </div>
                            <p class="ks-text-hover">
                                We already bought different modules and are really satisfied not only with the product
                                but also with the fast and excellent support.
                            </p>
                            <h3 class="title text-center font-16 f-w-600 m-0">Herbert Riener</h3>
                            <p class="category text-center font-14 m-0">CEO</p>
                            <p class="category text-center font-14 m-0">PITS</p>
                        </div>
                        <div class="ks-back-card">
                            <p class="ks-back-text-hover font-14">We already bought different modules and are really
                                satisfied not only with the product but also with the fast and excellent support.</p>
                        </div>
                    </div>
                </li>
                <li class="position-relative">
                    <div class="testimonials-card bg-orange ks-hover-top pt-5">
                        <div class="ks-front-card">
                            <div class="img-area text-center">
                                <img src="./../../../assets/images/testimonial/tech_company.jpg" alt="pic"
                                    class=" img-fluid" width="123" height="123" loading="lazy">
                            </div>
                            <p class="ks-text-hover">
                                Ksolves team is one of the professional teams in JavaScript and all their Odoo apps and
                                themes are amazing. Dashboard Ninja module is wonderful, I am happy to purchase their
                                modules as there is always a supporting hand available from them after the purchase
                                until the project is delivered successfully. So Thanks, All Ksolves Team Specially
                                Shivani you are our Success Partners in Odoo Projects!
                            </p>
                            <h3 class="title text-center font-16 f-w-600 m-0">KirillTech Company</h3>
                            <p class="category text-center font-14 m-0"></p>
                            <p class="category text-center font-14 m-0"></p>
                        </div>
                        <div class="ks-back-card">
                            <p class="ks-back-text-hover font-14">Ksolves team is one of the professional teams in
                                JavaScript and all their Odoo apps and themes are amazing. Dashboard Ninja module is
                                wonderful, I am happy to purchase their modules as there is always a supporting hand
                                available from them after the purchase until the project is delivered successfully. So
                                Thanks, All Ksolves Team Specially Shivani you are our Success Partners in Odoo
                                Projects!</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>