<main class="main-section">
    <div class="ks-content">
        <section class="aboutBan">
            <div class="container-fluid" >
                <div class="container text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-9 banner">
                            <h3 class="text-white text-center f-w-700">
                                Innovative Solutions that Elevate
                                <br>
                                Your Business to Next Level
                            </h3>
                            <p class="text-white text-center font-17">
                                Our ERP experts provide the best possible solutions for all your business needs. Whether you're in needs of apps or whether you want to get a custom <span class="ks-break">development/migration/integration</span> done, we're here to help
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-support></app-support>
        <section class="indExp light-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 text-center indExpTop">
                        <h3 class="f-w-700 m-0 p-0 pb-md-4 pt-md-3">
                            350+ Industry Proven Experts
                        </h3>
                        <p class="font-18 f-w-400 mt-xs-2 mb-0">
                            Streamline your business operations for maximum efficiency with our high-quality and reliable Odoo ERP solutions, developed by some of the best experienced ERP developers.
                        </p>
                    </div>
                </div>
                <div class="indExpBtm">
                    <p class="text-center font-22 pt-xs-1 ks-subhead">
                        Our Statistics at a glance Numbers speak louder than words!
                    </p>
                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-3 px-3">
                            <div class="d-flex text-center align-items-center justify-content-center number-count">
                                <p class="count o-grad w-auto m-0 p-0 f-w-700">
                                    100
                                </p>
                                <span class="ks-plus o-grad f-w-700">+</span>
                            </div>
                            <div class="d-inline-block mt-1 font-16 w-100 text-center f-w-700">
                                Odoo Apps/Themes Delivered
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-3 px-3 ks-dividing-line">
                            <div class="d-flex text-center align-items-center justify-content-center number-count">
                                <p class="count g-sky w-auto m-0 p-0 f-w-700">
                                    10
                                </p>
                                <span class="ks-plus g-sky f-w-700">k</span>
                            </div>
                            <div class="d-inline-block mt-1 font-16 w-100 text-center f-w-700">
                                Happy Customers
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-3 px-3 ks-dividing-line">
                            <div class="d-flex text-center align-items-center justify-content-center number-count">
                                <p class="count g-blue w-auto m-0 p-0 f-w-700">
                                    9
                                </p>
                                <span class="ks-plus g-blue f-w-700">+</span>
                            </div>
                            <div class="d-inline-block mt-1 font-16 w-100 text-center f-w-700">
                                Years of Experience
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-3 px-3 ks-dividing-line">
                            <div class="d-flex text-center align-items-center justify-content-center number-count">
                                <p class="count g-pink w-auto m-0 p-0 f-w-700">
                                    80
                                </p>
                                <span class="ks-plus g-pink f-w-700">%</span>
                            </div>
                            <div class="d-inline-block mt-1 font-16 w-100 text-center f-w-700">
                                Repeat Customers
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid about-images pt-1 pt-md-3 pt-lg-5 mb-md-4">
            <div class="container">
                <div class="position-relative abtLeft my-5">
                    <div class="col-xl-6 image-lg-absolute grad-blue abtLeftBg">
                            <h2 class="f-w-700 white-text mb-4">
                                Number One Odoo App Development Company        
                            </h2>
                            <p class="font-16 white-text m-0">
                                Our wide range of apps and themes have
                                become a trendsetter in every way. We're running Number 1 on Odoo App Store since last
                                couple of years with our flagship app, Dashboard Ninja and have constantly maintained
                                several apps and themes in the TOP 10 slots
                                <br> <br>
                                Being a customer-centric organisation, we always strive to identify the pain points that
                                our customers are encountering and develop our apps around solving those.
                            </p>
                    </div>
                    <div class=" col-12 d-flex align-items-center ks-justify-position">
                        <img src="../../../assets/images/about_us/card-section/about-img2.jpg" alt="about-img" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
       
        <section class="ks-services">
            <div class="container pb-2">
                <div class="servicesNw mb-4">
                    <h3 class="text-center m-0 p-0 f-w-700">
                        Our Odoo Development Services
                    </h3>
                    <div class="service-p mr-0 ml-0">
                        <p class="ks-para1 m-0 font-18 text-center f-w-500">
                            If you're looking to hire a software development vendor to take care of your Odoo project, you have come at the right place. Our team of 350+ experts are equipped to handle everything Odoo.
                        </p>
                        <p class="ks-para2 mt-4 font-18 m-0 text-center f-w-600">
                            Choose Our Service Based on Your Needs
                        </p>
                    </div>
                    <div class="row ks-boxes">
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="text-center ks-length services-gr-1">
                                <img src="../../../assets/images/about_us/box/1.png" alt="tech" class="mt-1">
                                <p class="m-0 f-w-600 text-white font-16">Odoo Tech Support</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="text-center ks-length services-gr-2">
                                <img src="../../../assets/images/about_us/box/2.png" alt="tech" class="mt-1">
                                <p class="m-0 f-w-600 text-white font-16">Odoo Functional Support</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="text-center ks-length services-gr-3">
                                <img src="../../../assets/images/about_us/box/3.png" alt="tech" class="mt-1">
                                <p class="m-0 f-w-600 text-white font-16">Installation & Deployment</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="text-center ks-length services-gr-4">
                                <img src="../../../assets/images/about_us/box/4.png" alt="tech" class="mt-1">
                                <p class="m-0 f-w-600 text-white font-16">ERP Implementation</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="text-center ks-length services-gr-4">
                                <img src="../../../assets/images/about_us/box/5.png" alt="tech" class="mt-1">
                                <p class="m-0 f-w-600 text-white font-16">System <br> Configuration</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="text-center ks-length services-gr-1">
                                <img src="../../../assets/images/about_us/box/6.png" alt="tech" class="mt-1">
                                <p class="m-0 f-w-600 text-white font-16">Development</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="text-center ks-length services-gr-2">
                                <img src="../../../assets/images/about_us/box/7.png" alt="tech" class="mt-1">
                                <p class="m-0 f-w-600 text-white font-16">Module <br> Development</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="text-center ks-length services-gr-3">
                                <img src="../../../assets/images/about_us/box/8.png" alt="tech" class="mt-1">
                                <p class="m-0 f-w-600 text-white font-16">Functional <br> Advice</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="text-center ks-length services-gr-1">
                                <img src="../../../assets/images/about_us/box/9.png" alt="tech" class="mt-1">
                                <p class="m-0 f-w-600 text-white font-16">Quality Assurance</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="text-center ks-length services-gr-2">
                                <img src="../../../assets/images/about_us/box/10.png" alt="tech" class="mt-1">
                                <p class="m-0 f-w-600 text-white font-16">Custom Development</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="text-center ks-length services-gr-3">
                                <img src="../../../assets/images/about_us/box/11.png" alt="tech" class="mt-1">
                                <p class="m-0 f-w-600 text-white font-16">Implementation Service</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="text-center ks-length services-gr-4">
                                <img src="../../../assets/images/about_us/box/12.png" alt="tech" class="mt-1">
                                <p class="m-0 f-w-600 text-white font-16">
                                    <span> Monday - Friday</span>
                                    <br>
                                    <span class="font-12 f-w-400">From (10 AM - 10 PM) IST </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</main>
