<main class="main-section ks-bg-grey">
    <div class="ks-content">
        <section class="ks-policy">
            <div class="container pt-4 pt-md-5 pb-4">
                <div class="mx-2 row py-md-5 py-4 light-bg rounded-20">
                    <div class="col-lg-10 col-md-12 m-auto">
                        <h2 class="ks-poilcy-head text-center mb-md-5 mb-3 f-w-700">
                            Terms and Policies
                        </h2>
                        <p class="font-16 mb-4 mb-md-5">
                            There are certain legal conditions and restrictions imposed on the users of the website <a href="#" class="text-warning ks-word-break">https://store.ksolves.com/</a> By accessing this website, you agree to accept the complete terms and conditions. It's the responsibility of the users to refer and learn about terms of usage while accessing this website.
                        </p>
                        <div class="mb-4 mb-md-5">
                           <p class="f-w-600 font-18">Copyright</p>
                           <p class="font-16">
                                All the content on this site is solely owned by Ksolves India Ltd or its content suppliers to whom it is paying with the contract. All materials, case studies, graphics and overall experience of the website is the sole property of Ksolves India Ltd.
                           </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">Permission to Copy</p>
                            <p class="font-16">
                                In any case, no visitor has the right to modify or compile the content and services description as mentioned on this website. You are not allowed to copy, modify, distribute, redistribute, transmit, reproduce, transfer, post, resell, or republish any of the contents available on the website for any commercial or other purposes.
                            </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">Providing Information</p>
                            <p class="font-16">
                                It is mandatory to reveal all the information in the required fields on the forms of the website so that we can contact you. You will abstain from providing information to us to impersonate any person or entity. While you intend to contact us through email, you consent to receive communications from our end either electronically or via emails.
                            </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">Security</p>
                            <p class="font-16">
                                All activities that occur on your system/network during your visit to this website shall be your responsibility. Visitor/user is not allowed to interfere with the functioning of this website or create infringement to other users' access to this website.
                            </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">Disclaimer Of Liabilities And Warranties</p>
                            <p class="font-16">
                                The services, materials and, other data contained on this website are used for only general information. Ksolves India Ltd doesn't make any warranties, expressed or implied, regarding the accuracy, completeness, and reliability of any of these.
                            </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">Third-Party Content</p>
                            <p class="font-16">
                                Any third party content on this website is for general use only and not intended to advise. By choosing the third party content, you will be redirected to an external website. It is your sole discretion and risk to visit websites that don't come under us. It is your responsibility to safeguard your system from viruses or other malignant elements.
                            </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">Modifications</p>
                            <p class="font-16">
                                Ksolves India Ltd can, at its discretion, change/modify any part of terms and conditions at any time. Such changes need to accepted and followed by users/visitors.
                            </p>
                        </div>
                        <div class="mb-4 mb-md-5">
                            <p class="f-w-600 font-18">Applicable Law</p>
                            <p class="font-16">
                                By visiting <a href="" class="text-warning ks-word-break">https://store.ksolves.com/</a> you agree that the in case of any disputes between you and Ksolves India Ltd laws of India will govern these Terms of Use.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>