<div *ngIf="isLoadingBool" class="loading-indicator">
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
</div>
<main class="main-section ks-bg-grey-col">
    <div class="ks-content">
        <section class="px-3 ticket_section">
            <div class="container pt-4 pt-md-5 pb-4">
                <div class="row py-5 light-bg rounded-20">
                    <div class="col-lg-10 col-md-12 m-auto">
                        <div class="row mx-0 ">
                            <div class="col-md-12">
                                <h2 class="f-w-700 font-40 text-center mb-4">
                                    Generate Ticket
                                </h2>
                                <p class="font-16 mb-5 text-center px-md-5 pt-md-3">
                                    Facing an issue? No problem, we're here to serve you.
                                    <br>
                                    Submit your tickets here so that we can reach out to you at the earliest.
                                </p>
                                <div class="border rounded-20">
                                    <form action="" [formGroup]="ticketReqForm"
                                        class="container-fluid px-0 ks-form-inputs-style" (ngSubmit)="onSubmit()">
                                        <div class="row mx-0 ">
                                            <div class="col-lg-10 col-md-12 m-auto">
                                                <div class="row mx-0 py-5">
                                                    <div class="col-md-6">
                                                        <div class="mat-form-field w-100 mb-4 font-16">
                                                            <div class="ks-floating ks-normal-area text-left">
                                                                <input type="text" placeholder="" class="font-12"
                                                                    formControlName="customer_name" required>
                                                                <label class="for-label">Name*</label>
                                                            </div>
                                                            <div *ngIf="validationErrorExists();"
                                                                style="color:red;text-align: left;">
                                                                <div *ngIf="hasError('customer_name', 'required')">
                                                                    *Required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mat-form-field w-100 mb-4 font-16">
                                                            <div class="ks-floating ks-normal-area text-left">
                                                                <input type="email" placeholder="" class="font-12"
                                                                    formControlName="email" required>
                                                                <label for="" class="for-label">Email*</label>
                                                            </div>
                                                            <div *ngIf="validationErrorExists();"
                                                                style="color:red;text-align: left;">
                                                                <div *ngIf="hasError('email', 'required')">*Required
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="mat-form-field w-100 mb-4 font-16">
                                                            <div class="ks-floating ks-normal-area text-left">
                                                                <input type="text" placeholder="" class="font-12"
                                                                    formControlName="type" required>
                                                                <label class="for-label">Type</label>
                                                            </div>
                                                            <div *ngIf="validationErrorExists();"
                                                                style="color:red;text-align: left;">
                                                                <div *ngIf="hasError('type', 'required')">*Required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="" class="mat-form-field w-100 mb-4 font-16">
                                                            <div class="ks-floating ks-normal-area text-left">
                                                                <input type="text" placeholder="" class="font-12"
                                                                    formControlName="subject" required>
                                                                <label class="for-label">Subject*</label>
                                                            </div>
                                                            <div *ngIf="validationErrorExists();"
                                                                style="color:red;text-align: left;">
                                                                <div *ngIf="hasError('subject', 'required')">*Required
                                                                </div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="mat-form-field w-100 mb-4 font-16">
                                                            <div class="ks-floating ks-message-area text-left">
                                                                <textarea rows="5" class="font-14" placeholder=""
                                                                    formControlName="description"></textarea>
                                                                <label class="for-label"
                                                                    class="msg-area">Message*</label>
                                                            </div>
                                                            <div *ngIf="validationErrorExists();"
                                                                style="color:red;text-align: left;">
                                                                <div *ngIf="hasError('description', 'required')">
                                                                    *Required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="d-flex align-items-center mb-4">
                                                            <input formControlName="attachment_ids" id="file"
                                                                type="file" (change)="onFileChange($event)" multiple>
                                                            <div *ngIf="validationErrorExists();"
                                                                style="color:red;text-align: left;">
                                                                <div *ngIf="hasError('attachment_ids', 'required')">
                                                                    *Required</div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-12">
                                                        <label for="" class="mat-form-field w-100 mb-4 font-16">
                                                            <div class="ks-floating ks-normal-area text-left">
                                                                <input type="email" placeholder="" class="font-12"
                                                                    formControlName="backup_email" required>
                                                                <label class="for-label">Alternate Email*</label>
                                                            </div>
                                                            <div *ngIf="validationErrorExists();"
                                                                style="color:red;text-align: left;">
                                                                <div *ngIf="hasError('backup_email', 'required')">
                                                                    *Required</div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="text-left">
                                                            <button
                                                                class="o_website_form_send btn btn-primary font-16 f-w-500">
                                                                Submit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>