<main class="main-section ks-bg-col">
    <div class="ks-content">
        <section class="banner-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 m-auto">
                        <h1 class="white-text f-w-700 font-50 text-center">Our Culture And Values</h1>
                        <p class="white-text my-3 text-center m-0 f-w-500 font-18 ks-para">
                            We pride ourselves on fostering an environment that meets the needs of our employees. We give our employees a solid foundation for future success by providing unlimited opportunities for their professional development and personal growth
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="agile-banner">
            <div class="container mb-lg-5">
                <div class="row ">
                    <div class="col-md-12">
                        <h3 class="white-text f-w-600 font-40 mt-4 mb-5 font-50 text-center">
                            Agile Work Culture and Atmosphere
                        </h3>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 mb-lg-0 ks-cards">
                        <div class="primary-gradient text-center white-text p-4 card border-0">
                            <h4 class="f-w-700 font-22 m-0 p-0">
                                Agile
                                <br>
                                Work Process
                            </h4>
                            <p class="f-w-500 m-0">
                                All our development projects follow an agile methodology. Agile projects have a comparatively higher success rate than traditional project management approaches.         
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3  mb-lg-0 ks-cards">
                        <div class="light-blue-gradient text-center text-white p-4 card border-0">
                            <h4 class="f-w-700 font-22 m-0 p-0">
                                No
                                <br>
                                Hierarchies
                            </h4>
                            <p class="f-w-500 m-0">
                                With open communications and agile team structures without hierarchies, we share our knowledge on a daily basis, hence adding to our productivity and company success.            
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3  mb-lg-0 ks-cards">
                        <div class="orange-gradient text-center text-white p-4 card border-0">
                            <h4 class="f-w-700 font-22 m-0 p-0">
                                Open and Transparent 
                                <br>
                                Communication
                            </h4>
                            <p class="f-w-500 m-0">
                                We stand for openness and transparent communication so that everyone has their voice and opinion on any professional matters.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="grey-bghh">
            <div class="cultureWrap">
                <div class="container">
                    <div class="cultureMain position-relative">
                        <div class="cultureHeading text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h3 class="f-w-700 font-45 p-0">Fun @ Work!</h3>
                                    <p class="font-16 ">
                                        Ksolves Management understands the basic mantra of Management 
                                        <br>
                                        “To win in the Marketplace you must win in the workplace”
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="officeCulture">
                            <h2 class="f-w-500 font-30">Office</h2>
                            <div class="officeCulture-single first-office-image">
                                <ul class="p-0 d-flex">
                                    <li>
                                        <img src="../../../assets/images/culture/office/office-1.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/office/office-2.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/office/office-3.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/office/office-4.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/office/office-5.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/office/office-6.webp" alt="Ksolves Office Photos">
                                    </li>
                                </ul>
                            </div>
                            <div class="officeCulture-single second-office-image" [hidden]="second_office_image">
                                <ul class="p-0 d-flex">
                                    <li>
                                        <img src="../../../assets/images/culture/office/office7.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/office/office8.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/office/office9.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/office/office10.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/office/office11.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/office/office12.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/office/office13.webp" alt="Ksolves Office Photos">
                                    </li>
                                </ul>
                            </div>
                            <div class="text-center my-4" [hidden]="!second_office_image">
                                <button id="office-load-more" class="btn btn-primary" (click)="load_more()">
                                    Load More
                                </button>
                            </div>
                        </div>
                        <div class="officeCulture forSports">
                            <h2 class="f-w-500 font-30">Outdoor</h2>
                            <div class="officeCulture-single first-office-image">
                                <ul class="p-0 d-flex">
                                    <li>
                                        <img src="../../../assets/images/culture/sport/sports-1.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/sport/sports-2.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/sport/sports-3.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/sport/sports-4.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/sport/sports-5.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/sport/sports-6.webp" alt="Ksolves Office Photos">
                                    </li>
                                </ul>
                            </div>
                            <div class="officeCulture-single second-office-image" [hidden]="second_set_sportsimg">
                                <ul class="p-0 d-flex">
                                    <li>
                                        <img src="../../../assets/images/culture/sport/outing1.jpg" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/sport/outing2.jpg" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/sport/outing3.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/sport/outing4.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/sport/outing5.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/sport/outing6.webp" alt="Ksolves Office Photos">
                                    </li>
                                </ul>
                                <ul class="p-0 d-flex">
                                    <li>
                                        <img src="../../../assets/images/culture/sport/outing7.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/sport/outing8.webp" alt="Ksolves Office Photos">
                                    </li>
                                    <li>
                                        <img src="../../../assets/images/culture/sport/outing9.webp" alt="Ksolves Office Photos">
                                    </li>
                                </ul>
                            </div>
                            <div class="text-center my-4" [hidden]="!second_set_sportsimg">
                                <button id="office-load-more_sports" class="btn btn-primary" (click)="load_more_sports()">
                                    Load More
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container ks-video-section">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <h3 class="f-w-700 dark-text mr-5 font-40 mb-lg-5 pb-lg-5">
                            Know <br>
                            More About Ksolves
                        </h3>
                    </div>
                    <div class="col-md-6">
                        <div class="video position-relative">
                            <div class="owl-carousel owl-theme owl-loaded owl-drag" id="videos">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage">
                                        <div class="owl-item active">
                                            <div class="item">
                                                <iframe src="https://www.youtube.com/embed/yw7VC7MGoaw" width="100%" height="400"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav d-none">
                                    <button type="button" role="representation" class="
                                    owl-prev"><span aria-label="Previous"><</span></button>
                                    <button type="button" role="representation" class="
                                    owl-next"><span aria-label="Next">></span></button>
                                </div>
                                <div class="owl-dots d-none">
                                    <button class="owl-dot active">
                                        <span class="dot-area"></span>
                                    </button>
                                </div>
                            </div>
                            <p class="mt-4 font-16 text-center">
                                Appreciate your Employees and they will appreciate your Decisions!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>