<main class="main-section ks-bg-col">
    <div class="ks-content succes-story-page">
        <section class="newsHeading">
            <div class="container">
                <h1 class="font-50 f-w-700 text-white">
                    In the News
                </h1>
                <p class="font-18 text-white p-0">A dream doesn't become a reality through magic; it takes sweat, determination, and hard work.</p>
                <p class="font-18 text-white p-0">Ksolves has consistently worked towards maintaining quality while winning customer's trust simultaneously.
                    <br>
                    Here's how that translated into our humongous success as shared in the press. 
                </p>
            </div>
        </section>
        <section class="ks-cards">
            <div class="container pb-4">
                <div class="awardBox light-bg">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4 ks-mt-md">
                            <div class="awardBox-single h-100 light-bg">
                                <div class="awardBox-single-img">
                                    <img src="../../../assets/images//in the press/news-1.png" alt="Dashboard Ninja" class="img-fluid w-100">
                                </div>
                                <div class="awardBox-single-txt">
                                    <p class="m-0 font-16">
                                        Ksolves' Dashboard Ninja Crosses 100+ Downloads and becomes Number 1 App on the Odoo Apps Store
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 ks-mt-md">
                            <div class="awardBox-single h-100 light-bg">
                                <div class="awardBox-single-img">
                                    <img src="../../../assets/images//in the press/news-2.png" alt="Dashboard Ninja" class="img-fluid  w-100">
                                </div>
                                <div class="awardBox-single-txt">
                                    <p class="m-0 font-16">
                                        Ksolves' Dashboard Ninja Crosses 100+ Downloads and becomes Number 1 App on the Odoo Apps Store
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 ks-mt-md">
                            <div class="awardBox-single h-100 light-bg">
                                <div class="awardBox-single-img">
                                    <img src="../../../assets/images//in the press/news-3.png" alt="Dashboard Ninja" class="img-fluid  w-100">
                                </div>
                                <div class="awardBox-single-txt">
                                    <p class="m-0 font-16">
                                        No. 1 Odoo Dashboard Ninja App by Ksolves Crosses 500+ Downloads
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>