<main class="main-section ks-bg-grey">
    <div class="ks-content">
        <section class="ks-policy">
            <div class="container pt-4 pt-md-5 pb-4">
                <div class="mx-2 row py-md-5 py-4 light-bg rounded-20">
                    <div class="col-lg-10 col-md-12 m-auto">
                        <h2 class="ks-poilcy-head text-center mb-md-5 mb-3 f-w-700">
                            Refund Policy
                        </h2>
                        <p class="font-16">
                            Ksolves undertakes the complete responsibility of the scope of products developed by our team. The document is to ensure your requirements and our offerings, which eliminates the possibilities of any product/app purchase cancellation/reversal/dispute.                  
                        </p>
                        <p class="font-16 my-md-4 my-4 f-w-500">
                            Being a leading customer-centric company, if you are not satisfied with our services and products,
                            <span>90</span> Days from the day of purchase.
                        </p>
                        <div class="font-16 num-pointer">
                            <p>
                                <span class="num">1</span> <span>Ksolves retains the right to terminate the license if the customer redistributes or resells the source codes to other organizations, free or with the price.</span>        
                            </p>
                            <p>
                                <span class="num">2</span> <span>
                                    Service team will require the site access details if the product /module is not working on the customer's website. The Ksolves team will go ahead and access the customer's machine in the customer's environment to check errors/bugs and provide the resolution.
                                </span>
                            </p>
                            <p>
                                <span class="num">3</span> <span>The customer is required to check the demo, the refund shall be done only if the demo version and installed version is different.</span>         
                            </p>
                            <p>
                                <span class="num">4</span> <span>Ksolves grants liberty to the customer by providing an exchange facility. If the customer is not satisfied with the product, he holds the leverage to exchange the existing product with the new one. Difference amount shall be refunded by Ksolves or paid by the customer. </span> 
                            </p>
                        </div>
                        <p class="font-16">
                            Please read and make sure you fully understand our refund and cancellation policy before making a payment. Should you have other questions about our policies, feel free to call us.                  
                        </p>
                        <p class="font-16">
                            *Ksolves is not responsible for delays due to bank services, network connectivity, etc.           
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>