
.ks-policy .ks-poilcy-head {
  font-size: 45px;
}

.f-w-700 {
  font-weight: 700;
}
.ks-policy {
  .container {
    @media screen and (max-width: 1500px) {
      max-width: 1250px;
    }
    .num-pointer{
      p{
        display: flex;
        align-items:start;
        justify-content: flex-start;
        .num{
          background-color: #e5e5e5;
          padding-left: 8px;
          padding-right: 8px;
          border-radius: 100%;
          margin-right: 10px;
        }
      }
    }
    // ol {
    //   list-style: none;
    //   counter-reset: li;
    //   padding-left: 1rem;
    //   margin-bottom: 2rem;
    //   li {
    //     counter-increment: li;
    //     margin-bottom: 10px;
    //   }
    //   li::before {
    //     content: counter(li);
    //     color: #595757;
    //     display: inline-block;
    //     width: 0.7em;
    //     margin-left: 0em;
    //     text-align: center;
    //     font-weight: 550;
    //     background-color: #e0d8d8;
    //     padding-left: 9px;
    //     padding-right: 16px;
    //     border-radius: 100%;
    //   }
    // }
  }
}
