<section class="why-ksolves pt-5 pb-5 d-none d-lg-block"  *ngIf="isMobile !== true " >
    <div class="container mt-5 mb-5">
        <div class="why-choose-ksolves d-flex align-items-center justify-content-center">
            <div class="choose-ksolves-listing mr-lg-auto   ml-md-3 active-0">
                <ul class="text-right p-0 pr-3 text-white" id="ks-listing">
                    <li class="font-18 mb-3 active-1">
                        <span class="ks-text">ERP Migration , ERP Implementation,
                            <br>
                            and ERP Development Services
                        </span>
                    </li>
                    <li class="font-18 active-2">
                        <span class="ks-text">Solutions as Per your Business 
                            <br>
                            Needs and Workflow Patterns
                        </span>
                    </li>
                    <li class="font-18 active-3">
                        <span class="ks-text">
                            Comprehensive App Features That Help in
                            <br>
                            Boosting The Business Productivity
                        </span>
                    </li>
                    <li class="blank-li"></li>
                    <li class="font-18 active-4">
                        <span class="ks-text">
                            90 Days Free Support and 
                            <br>
                            Maintenance Services
                        </span>
                    </li>
                    <li class="blank-li"></li>
                    <li class="font-18 active-5">
                        <span class="ks-text">
                            60 minutes Refund Policy With No 
                            <br>
                            Questions Asked for 365 Days
                        </span>
                    </li>
                    <li class="font-18 active-6">
                        <span class="ks-text">
                            Powerful and Easy-to-use 
                            <br>
                            Apps/Themes
                        </span>
                    </li>
                    <li class="font-18 active-7">
                        <span class="ks-text">
                            User-Friendly 
                            <br>
                            Interface
                        </span>
                    </li>
                </ul>
            </div>
            <div class="ks-sm-logo">
                <img src="./../../../assets/images/index-page/why-ksolves/kstore_icon.webp" alt="icon" width="127" height="111" loading="lazy">
            </div>
            <div class="font-45 ks-rotate font-weight-bold text-white">Why Choose <br>Ksolves?</div>
        </div>
    </div>
</section>