.main-section {
  .ks-reset-pw {
    padding: 30px 0;
    @media screen and (max-width: 991px) {
      padding: 0;
    }
    .oe_email_reset_password_form {
      max-width: 300px;
      position: relative;
      margin: 17px auto;
      @media screen and (max-width: 991px) {
        margin: 5px auto;
      }
      .form-group {
        input {
          font-size: 0.9rem;
          line-height: 1.5;
          border-radius: 0;
        }
        input:focus {
          color: #495057;
          border-color: #21fffb;
          box-shadow: none;
          outline: 0;
        }
      }
      .oe_login_buttons {
        a {
          text-decoration: none;
          color: #000000;
        }
        .btn {
          padding: 8px 30px;
        }
        .btn-primary {
          border-color: none;
          width: 40%;
        }
      }
    }
  }
}
