<main class="main-section ks-bg-col">
    <div class="ks-content">
        <section class="ks-reset-pw">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="oe_email_reset_password_form ">
                <div class="form-group mb-3">
                    <label for="" class="f-w-500 font-18">Your Email ID</label>
                    <input type="text" class="form-control mt-4 mb-4" placeholder="Enter email" value="{{this.resetData.login}}"
                        required disabled>
                </div>
                <div class="form-group mb-3">
                    <label for="name">Your Name</label>
                    <input type="text" class="form-control" placeholder="e.g. John Doe" value="{{this.resetData.name}}" required disabled>
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input formControlName="password" type="password" class="form-control" required>
                    <ng-container *ngFor="let error of error_messages.password">
                        <div class="error-message" *ngIf="resetForm.get('password').hasError(error.type) &&
                                            (resetForm.get('password').dirty || resetForm.get('password').touched)">
                            {{ error.message }}</div>
                    </ng-container>
                </div>
                <div class="form-group mb-3">
                    <label for="password">Confirm Password</label>
                    <input formControlName="confirm_password" type="password" class="form-control" required>
                    <ng-container *ngFor="let error of error_messages.confirm_password">
                        <div class="error-message"
                            *ngIf="resetForm.get('confirm_password').hasError(error.type) &&
                                            (resetForm.get('confirm_password').dirty || resetForm.get('confirm_password').touched)">
                            {{ error.message }}</div>
                    </ng-container>
                    <div class="error-message"
                        *ngIf="resetForm.get('confirm_password').hasError('equalTo') && resetForm.get('confirm_password').dirty || resetForm.get('confirm_password').hasError('equalTo') && resetForm.get('confirm_password').touched">
                        Password mismatch
                    </div>
                </div>

                <div class="oe_login_buttons">
                    <button class="btn btn-primary btn-block" type="submit">Confirm</button>
                </div>
            </form>
        </section>
    </div>
</main>