<main class="main-section ks-bg-grey">
    <div >
        <img class="img-fluid w-100" alt="bulk_offer" src="../../../assets/images/bulk-offer/bulk-deal.png">
    </div>
    <div class="ks-content">
        <section class="ks-policy">
            <div class="container pt-4 pt-md-5 pb-4 mt-lg-n5 position-relative">
                <div class="mx-2 row py-md-5 py-4 light-bg rounded-20 mt-lg-n5 mb-lg-5">
                    <div class="col-lg-10 col-md-12 m-auto">
                        <h2 class="ks-poilcy-head text-center mb-md-5 mb-3 f-w-700">
                            Bulk Offer
                        </h2>
                     
                        <div class="mb-md-5 mb-4">
                            <p class="f-w-600 font-18">
                                Our Offer Plans
                            </p>
                            <ol class="font-16">
                                <li>
                                    <b>10% OFF</b> -
                                    Ksolves offer you FLAT 10% OFF on the order value of $500 or more.                            
                                  </li>
                               
                                <li>
                                    <b>20% OFF</b> -
                                    Ksolves offer you FLAT 20% OFF on the order value of $1000 or more.                        
                                  </li>
                                <li>
                                    <b>25% OFF</b> -
                                    Ksolves offer you FLAT 25% OFF on the order value of $2000 or more.                        
                                 </li>
                              
                            </ol>
                        </div>
                        <div class="mb-md-5 mb-4">
                            <p class="mb-0 font-16">
                                <b>For Further Assistance Connect Us at </b>                  
                            </p>
                            <br>
                            <!-- <p class="mb-0 font-16">
                                Looking for Any Help? Contact Us!
                            </p> -->
                            <p class="font-16">
                                Email: <a href="mailto:sales@ksolves.com" class="ks-link"><span>sales@ksolves.com</span></a>                     
                            </p>
                            <p class="font-16">
                                Call: <b>+1(646)-203-1075</b>     
                            </p>
                            <p class="font-16">
                                WhatsApp: <b>+91-7498170227</b>     
                            </p>

                            <button routerLink="/contact-us" class="o_website_form_send btn btn-primary py-3 px-5">
                                Submit Request
                            </button>
                          
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>