<main class="main-section ks-bg-grey">
    <div class="ks-content ">
        <section class="team-div alt">
                <div class="container-fluid">
                    <div class="container text-center">
                        <div class="row">
                            <div class="banner py-5">
                                <h1 class="text-white bold font-50 pb-4">
                                    Testimonials
                                </h1>
                                <div class="col-lg-10 offset-lg-1 text-white font-18 px-lg-5">
                                    <p>
                                        They say that the most persuasive way to sell something is
                                        through
                                        word-of-mouth. By providing excellent quality and customer
                                        services, Ksolves has not only been a customer favorite in
                                        the Odoo market but has also simultaneously successfully
                                        achieved all its milestones.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ks-testimonials">
                <div class="container py-4 py-md-5">
                  
                    <div class="testHome">
                        <ul class="m-0 p-0 d-flex justify-content-between w-100">
                            <li class="position-relative">
                                <div class="testimonials-card bg-orange ks-hover-top pt-5">
                                    <!-- <div class="ks-inner-card"> -->
                                        <div class="ks-front-card">
                                            <div class="img-area text-center">
                                                <img src="./../../../assets/images/testimonial/David_Ogles.jpg" alt="pic" class="img-fluid">
                                            </div>
                                            <p class="ks-text-hover">Ksolves has been an invaluable partner to our business. Their product expertise coupled with an unwavering commitment to customer service has enabled our company to introduce new functionality to our customer base with zero issues. Their responsiveness to any question or request that we have presented ensures that our partnership will continue to grow. I highly recommend Ksolves and their products to any customer!</p>
                                            <h3 class="title text-center font-16 f-w-600 m-0">David Ogles</h3>
                                            <p class="category text-center font-14 m-0">President</p>
                                            <p class="category text-center font-14 m-0">Digitech Services Inc.</p>
                                        </div>
                                        <div class="ks-back-card">
                                            <p class="ks-back-text-hover font-14">Ksolves has been an invaluable partner to our business. Their product expertise coupled with an unwavering commitment to customer service has enabled our company to introduce new functionality to our customer base with zero issues. Their responsiveness to any question or request that we have presented ensures that our partnership will continue to grow. I highly recommend Ksolves and their products to any customer!</p>
                                        </div>
                                    <!-- </div> -->
                                </div>
                            </li>    
                            <li class="position-relative">
                                <div class="testimonials-card bg-blue ks-hover-top pt-5">
                                    <div class="ks-front-card">
                                        <div class="img-area text-center">
                                            <img src="./../../../assets/images/testimonial/tech_company.jpg" alt="pic" class=" img-fluid">
                                        </div>
                                        <p class="ks-text-hover">
                                            Ksolves team is one of the professional teams in JavaScript and all their Odoo apps and  themes are amazing. Dashboard Ninja module is wonderful, I am happy to purchase their modules as there is always a supporting hand available from them after the purchase until the project is delivered successfully. So Thanks, All Ksolves Team Specially Shivani you are our Success Partners in Odoo Projects!
                                        </p>
                                        <h3 class="title text-center font-16 f-w-600 m-0">KirillTech Company</h3>
                                        <p class="category text-center font-14 m-0"></p>
                                        <p class="category text-center font-14 m-0"></p>
                                    </div>
                                    <div class="ks-back-card">
                                        <p class="ks-back-text-hover font-14">Ksolves team is one of the professional teams in JavaScript and all their Odoo apps and  themes are amazing. Dashboard Ninja module is wonderful, I am happy to purchase their modules as there is always a supporting hand available from them after the purchase until the project is delivered successfully. So Thanks, All Ksolves Team Specially Shivani you are our Success Partners in Odoo Projects!</p>
                                    </div>
                                </div>
                            </li>                          
                            <li class="position-relative">
                                <div class="testimonials-card bg-orange ks-hover-top pt-5">
                                    <div class="ks-front-card">
                                        <div class="img-area text-center">
                                            <img src="./../../../assets/images/testimonial/Mahmoud_Ali.jpg" alt="pic" class=" img-fluid">
                                        </div>
                                        <p class="ks-text-hover">
                                            It's such a great team, very qualified and professional, it was a pleasure dealing with them. We deal with them in more than one difficult and complex task, and they are responsible and professional to finish it on time and with a high quality.
                                        </p>
                                        <h3 class="title text-center font-16 f-w-600 m-0">Mahmoud Ali</h3>
                                        <p class="category text-center font-14 m-0">Application manager</p>
                                        <p class="category text-center font-14 m-0">MEGA TRUST GROUP</p>
                                    </div>
                                    <div class="ks-back-card">
                                        <p class="ks-back-text-hover font-14">It's such a great team, very qualified and professional, it was a pleasure dealing with them. We deal with them in more than one difficult and complex task, and they are responsible and professional to finish it on time and with a high quality.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="position-relative">
                                <div class="testimonials-card bg-pink ks-hover-top pt-5">
                                    <div class="ks-front-card">
                                        <div class="img-area text-center">
                                            <img src="./../../../assets/images/testimonial/alfa-lifts.jpg" alt="Aamer Adas" class=" img-fluid">
                                        </div>
                                        <p class="ks-text-hover">
                                            We are currently working with Ksolves Software Company in India to develop ERP Odoo program and as we have successfully completed the first phase implementation. Currently we are working with them to implement the second phase and since they have a work team consisting of several specialized programmers who work with high skills and professionalism, and at the same time are committed to delivering the required programming work on time. I express my great happiness to work with them and I say thank you to Ksolves.
                                        </p>
                                        <h3 class="title text-center font-16 f-w-600 m-0">Aamer Adas</h3>
                                        <p class="category text-center font-14 m-0"></p>
                                        <p class="category text-center font-14 m-0"></p>
                                    </div>
                                    <div class="ks-back-card">
                                        <p class="ks-back-text-hover font-14">
                                            We are currently working with Ksolves Software Company in India to develop ERP Odoo program and as we have successfully completed the first phase implementation. Currently we are working with them to implement the second phase and since they have a work team consisting of several specialized programmers who work with high skills and professionalism, and at the same time are committed to delivering the required programming work on time. I express my great happiness to work with them and I say thank you to Ksolves. 
                                        </p>
                                    </div>
                                </div>
                            </li> 
                            <li class="position-relative">
                                <div class="testimonials-card bg-blue ks-hover-top pt-5">
                                    <div class="ks-front-card">
                                        <div class="img-area text-center">
                                            <img src="./../../../assets/images/testimonial/William_Cazara.jpg" alt="pic" class=" img-fluid">
                                        </div>
                                        <p class="ks-text-hover">
                                            We have been working with Ksolves on several development projects. Their expertise and professionalism were evident throughout the development cycle of our projects, and we were very pleased with the final results. They have shown enormous skill and vast domain knowledge and their experts are reliable and trustworthy. We would recommend Ksolves to anyone looking for quality IT development, delivered professionally.
                                        </p>
                                        <h3 class="title text-center font-16 f-w-600 m-0">William Cazara</h3>
                                        <p class="category text-center font-14 m-0">Head of IT Operations</p>
                                        <p class="category text-center font-14 m-0">S.J. GRAND</p>
                                    </div>
                                    <div class="ks-back-card">
                                        <p class="ks-back-text-hover font-14">We have been working with Ksolves on several development projects. Their expertise and professionalism were evident throughout the development cycle of our projects, and we were very pleased with the final results. They have shown enormous skill and vast domain knowledge and their experts are reliable and trustworthy. We would recommend Ksolves to anyone looking for quality IT development, delivered professionally.</p>
                                    </div>
                                </div>
                            </li>
                           
                                          
                        </ul>
                    </div><br/>
                      
                            <div class="testHome">
                                <ul class="m-0 p-0 d-flex justify-content-between w-100">
                                     
                                    
                                    <li class="position-relative">
                                        <div class="testimonials-card bg-blue ks-hover-top pt-5">
                                            <div class="ks-front-card">
                                                <div class="img-area text-center">
                                                    <img src="./../../../assets/images/testimonial/Herbert_Riener.jpg" alt="pic" class=" img-fluid">
                                                </div>
                                                <p class="ks-text-hover">
                                                    We already bought different modules and are really satisfied not only with the product but also with the fast and excellent support.
                                                </p>
                                                <h3 class="title text-center font-16 f-w-600 m-0">Herbert Riener</h3>
                                                <p class="category text-center font-14 m-0">CEO</p>
                                                <p class="category text-center font-14 m-0">PITS</p>
                                            </div>
                                            <div class="ks-back-card">
                                                <p class="ks-back-text-hover font-14">We already bought different modules and are really satisfied not only with the product but also with the fast and excellent support.</p>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="position-relative">
                                        <div class="testimonials-card bg-pink ks-hover-top pt-5">
                                            <div class="ks-front-card">
                                                <div class="img-area text-center">
                                                    <img src="./../../../assets/images/testimonial/Mohammad_hashi.png" alt="pic" class=" img-fluid">
                                                </div>
                                                <p class="ks-text-hover">
                                                    Hey all and developer for this App this is one of the best app for Odoo community. A small suggestion it's always keep on showing Error in the log just because the name of some field is same which is not good sign of Development Please take care of it. rest this is awesome. 
                                                </p>
                                                <h3 class="title text-center font-16 f-w-600 m-0">Mohamed Hashi</h3>
                                                <p class="category text-center font-14 m-0"></p>
                                                <p class="category text-center font-14 m-0"></p>
                                            </div>
                                            <div class="ks-back-card">
                                                <p class="ks-back-text-hover font-14">
                                                    Hey all and developer for this App this is one of the best app for Odoo community. A small suggestion it's always keep on showing Error in the log just because the name of some field is same which is not good sign of Development Please take care of it. rest this is awesome. </p>
                                            </div>
                                        </div>
                                    </li>      
                                    <li class="position-relative">
                                        <div class="testimonials-card bg-blue ks-hover-top pt-5">
                                            <div class="ks-front-card">
                                                <div class="img-area text-center">
                                                    <img src="./../../../assets/images/testimonial/alikhalid.png" alt="pic" class=" img-fluid">
                                                </div>
                                                <p class="ks-text-hover">
                                                    One of the best apps so far used. Give an excellent user experience and have provided very useful information in most appropriate and presentable manner for Management. Customer service is excellent and development team is very helpful. Thanks for the all support and help and wish you good luck.
                                                </p>
                                                <h3 class="title text-center font-16 f-w-600 m-0">Ali Khalid</h3>
                                                <p class="category text-center font-14 m-0"></p>
                                                <p class="category text-center font-14 m-0"></p>
                                            </div>
                                            <div class="ks-back-card">
                                                <p class="ks-back-text-hover font-14">
                                                    One of the best apps so far used. Give an excellent user experience and have provided very useful information in most appropriate and presentable manner for Management. Customer service is excellent and development team is very helpful. Thanks for the all support and help and wish you good luck.</p>
                                            </div>
                                        </div>
                                    </li>      
                                    <li class="position-relative">
                                        <div class="testimonials-card bg-pink ks-hover-top pt-5">
                                            <div class="ks-front-card">
                                                <div class="img-area text-center">
                                                    <img src="./../../../assets/images/testimonial/simop_powell.png" alt="pic" class=" img-fluid">
                                                </div>
                                                <p class="ks-text-hover">
                                                    I am a frequent odoo app user and their support is just the best. The app work with Odoo.sh which was very important for me. Thanks ksolves team for the brillant app and help. 
                                                </p>
                                                <h3 class="title text-center font-16 f-w-600 m-0">Simon Powell</h3>
                                                <p class="category text-center font-14 m-0"></p>
                                                <p class="category text-center font-14 m-0"></p>
                                            </div>
                                            <div class="ks-back-card">
                                                <p class="ks-back-text-hover font-14">
                                                    I am a frequent odoo app user and their support is just the best. The app work with Odoo.sh which was very important for me. Thanks ksolves team for the brillant app and help. </p>
                                            </div>
                                        </div>
                                    </li>      

                                    <li class="position-relative">
                                        <div class="testimonials-card bg-blue ks-hover-top pt-5">
                                            <div class="ks-front-card">
                                                <div class="img-area text-center">
                                                    <img src="./../../../assets/images/testimonial/green_board.png" alt="pic" class=" img-fluid">
                                                </div>
                                                <p class="ks-text-hover">
                                                    One of the best odoo dashboard out there if it isn't the best one. Great support team. It has been great working with Ksolves team. would definitely recommend their apps. 
                                                </p>
                                                <h3 class="title text-center font-16 f-w-600 m-0">Green Board Company</h3>
                                                <p class="category text-center font-14 m-0"></p>
                                                <p class="category text-center font-14 m-0"></p>
                                            </div>
                                            <div class="ks-back-card">
                                                <p class="ks-back-text-hover font-14">
                                                    One of the best odoo dashboard out there if it isn't the best one. Great support team. It has been great working with Ksolves team. would definitely recommend their apps. </p>
                                            </div>
                                        </div>
                                    </li>      
                                </ul>
                            </div><br/>
                     
                            <div class="testHome">
                                <ul class="m-0 p-0 d-flex justify-content-between w-100">
                                    <li class="position-relative">
                                        <div class="testimonials-card bg-pink ks-hover-top pt-5">
                                            <div class="ks-front-card">
                                                <div class="img-area text-center">
                                                    <img src="./../../../assets/images/testimonial/frank_volorex.png" alt="pic" class=" img-fluid">
                                                </div>
                                                <p class="ks-text-hover">
                                                    I just want to pass my compliments to the Ksolves team for making a great module. I have tested several apps to create visual dashboards in Odoo (v11), this is the only one that checks all the boxes. Very well designed, flexible and easy to use. Not only the module is great, the Ksolves team is very quick to reply to any query I have sent them, and they release new features in no-time. Even ahead of estimate in my case. If you're in the market for a Dashboard module for Odoo, this would be an excellent choice. 
                                                </p>
                                                <h3 class="title text-center font-16 f-w-600 m-0">Frank Voglerx</h3>
                                                <p class="category text-center font-14 m-0"></p>
                                                <p class="category text-center font-14 m-0"></p>
                                            </div>
                                            <div class="ks-back-card">
                                                <p class="ks-back-text-hover font-14">
                                                    I just want to pass my compliments to the Ksolves team for making a great module. I have tested several apps to create visual dashboards in Odoo (v11), this is the only one that checks all the boxes. Very well designed, flexible and easy to use. Not only the module is great, the Ksolves team is very quick to reply to any query I have sent them, and they release new features in no-time. Even ahead of estimate in my case. If you're in the market for a Dashboard module for Odoo, this would be an excellent choice. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="position-relative">
                                        <div class="testimonials-card bg-blue ks-hover-top pt-5">
                                            <div class="ks-front-card">
                                                <div class="img-area text-center">
                                                    <img src="./../../../assets/images/testimonial/rob_farrelly.png" alt="pic" class=" img-fluid">
                                                </div>
                                                <p class="ks-text-hover">
                                                    The Ksolves team is very responsive and accommodating, providing support and features in a timely manner. These dashboards have become a key component in our day to day workflow. Thank you. 
                                                </p>
                                                <h3 class="title text-center font-16 f-w-600 m-0">Rob Farrelly</h3>
                                                <p class="category text-center font-14 m-0"></p>
                                                <p class="category text-center font-14 m-0"></p>
                                            </div>
                                            <div class="ks-back-card">
                                                <p class="ks-back-text-hover font-14">The Ksolves team is very responsive and accommodating, providing support and features in a timely manner. These dashboards have become a key component in our day to day workflow. Thank you. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="position-relative">
                                        <div class="testimonials-card bg-orange ks-hover-top pt-5">
                                            <div class="ks-front-card">
                                                <div class="img-area text-center">
                                                    <img src="./../../../assets/images/testimonial/group_simop.png" alt="pic" class=" img-fluid">
                                                </div>
                                                <p class="ks-text-hover">
                                                    Thank you, this plugin is very easy and our users are very satisfied. The support of Ksolves is very efficient too. 
                                                </p>
                                                <h3 class="title text-center font-16 f-w-600 m-0">F2F, Groupe Simop</h3>
                                                <p class="category text-center font-14 m-0"></p>
                                                <p class="category text-center font-14 m-0"></p>
                                            </div>
                                            <div class="ks-back-card">
                                                <p class="ks-back-text-hover font-14">
                                                    Thank you, this plugin is very easy and our users are very satisfied. The support of Ksolves is very efficient too. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="position-relative"></li>
                                    <li class="position-relative"></li>
                                </ul>
                            </div>
                         
                </div>
        </section>
     </div>
</main>