<main class="main-section ks-bg-grey">
    <div class="ks-content">
        <section class="ks-policy">
            <div class="container pt-4 pt-md-5 pb-4">
                <div class="mx-2 row py-md-5 py-4 light-bg rounded-20">
                    <div class="col-lg-10 col-md-12 m-auto">
                        <h2 class="ks-poilcy-head text-center mb-md-5 mb-3 f-w-700">
                            Customization Policy
                        </h2>
                        <p class=" font-16 mb-5">
                            At Ksolves, we believe in going according to the client's way. Customization provides a desirable experience in an application that majorly focuses on the client's requirements and ideas. Odoo provides a fully functional package but it cannot cater the specific needs of the customer that is always considered as “extra”. That extra is our commitment towards our clients to provide the power-packed app with complete features according to client's requirements. At Ksolves, we deliver high-end customizations so that our customers can get a complete benefit and achieve their business goals. While extending Odoo's approach, our technical team assists you with all your needs.
                        </p>
                        <div class="mb-md-5 mb-4">
                            <p class="f-w-600 font-18">
                                What is Customization?       
                            </p>
                            <p class="font-16">
                                Customization is any added functionality to any products that are not included in the offered package of the product.
                            </p>
                        </div>
                        <div class="mb-md-5 mb-4">
                            <p class="f-w-600 font-18">
                                What We Have For You?
                            </p>
                         
                            <div class="font-16 num-pointer">
                                <p>
                                    <span class="num">1</span> 
                                    <span>
                                        Ksolves will provide Customization services with the terms of the order form with the customization subjects in the order form. Once the full payment and fees are done from the customer's end, Ksolves will begin the customization.    
                                    </span>      
                                </p>
                                <p>
                                    <span class="num">2</span> 
                                    <span>Once testing and delivery are delayed by 30 days or more for reasons not related to Ksolves performance, the customer is liable to pay the value calculated according to the milestones achieved. </span>         
                                </p>
                                <p>
                                    <span class="num">3</span> 
                                    <span>
                                        Ksolves is dedicated towards its customers and always promise to deliver on or before the deadline. Due to any unforeseen circumstances, whether it is related to human or machine, the delivery is extended, Ksolves will not be liable for any damage or delay.
                                    </span>
                                </p>
                                <p>
                                    <span class="num">4</span> 
                                    <span>
                                        Once customization is done, any amendments or changes in customization services after the execution of order form will be considered as re-quotation and a written change order will be mutually agreed between Ksolves and the client.
                                    </span>
                                </p>
                                <p>
                                    <span class="num">5</span> 
                                    <span>
                                        After the delivery, if client alters the code by themselves, through any agency or anyone, Ksolves will not be liable for any mishap. For improvisation of failed codes, the fresh contract will be generated.
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="mb-md-5 mb-4">
                            <p class="f-w-600 font-18">
                                Priority       
                            </p>
                            <p class="font-16">
                                While making every effort to address all the customer's queries in a stipulated manner, it should be understood that some are high priority cases and some are low priority cases.
                            </p>
                        </div>
                        <div class="mb-md-5 mb-4">
                            <p class="f-w-600 font-18">
                                Quality Work at a Reasonable Price
                            </p>
                            <p class="font-16">
                                Ksolves India Ltd is widely known for the quality assured work, to fulfil customized at a reasonable price that fits the customer's business budget.
                            </p>
                        </div>
                        <div class="mb-md-5 mb-4">
                            <p class="f-w-600 font-18">
                                Dedicated & Qualified Odoo Experts
                            </p>
                            <p class="font-16">
                                We have a highly qualified & dedicated team of odoo experts who possess decades of experience & skills to tackle customer's needs and develop customised Odoo applications to meet all business requirements. Ksolves Ltd provides distinctive services for your business. Customers from across the globe have proven our commitment and reliability of our services rendered.
                            </p>
                        </div>
                        <div class="mb-lg-5">
                            <p class="f-w-600 font-18">
                                Customization Assistance
                            </p>
                            <p class="font-16">
                                The service team is available to provide general suggestions and assist in troubleshooting point to point to the customers. Our service team is fully dedicated and will provide code customization to the customers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>