<section class="ks-reach-out position-relative">
    <div class="reach-bg position-relative"></div>
    <div class="lets-talk-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 m-auto text-center">
                    <h3 class="font-40 f-w-700 primary-text">Reach out to Us!</h3>
                    <p class="white-text mt-4 mb-4 mt-md-5 mb-md-5 font-16">Armed with a talented team of 250+ Odoo
                        Developers, we’re fully-equipped to turn any idea into a reality. So, if you have a business
                        need or idea that you have been dwelling on for a long time, please feel free to book a session
                        with our Odoo experts.</p>
                    <button class="btn btn-primary mb-4 brb-none" [routerLink]="['/contact-us']"
                        routerLinkActive="router-link-active">
                        Contact Us
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>