<main class="main-section ks-bg-grey">
    <div class="ks-content">
        <section class="ks-policy">
            <div class="container pt-4 pt-md-5 pb-4">
                <div class="mx-2 row py-md-5 py-4 light-bg rounded-20">
                    <div class="col-lg-10 col-md-12 m-auto">
                        <h2 class="ks-poilcy-head text-center mb-md-5 mb-3 f-w-700">
                            Privacy Policy
                        </h2>
                        <div class="mb-md-5 mb-4">
                            <p class="font-16">
                                Thank you for visiting or store.
                                <!-- <a class="text-normal f-w-500">store.ksolves.com</a>. -->
                                Please read this privacy policy of Ksolves India Limited. By using this site, you consent to the terms of our Privacy Policy. This policy explains user data practices of Ksolves India Limited and the choices you can make about the way your information is collected and used at our site.
                            </p>
                            <p class="font-16">
                                We are committed to respecting your online privacy and recognize your need for appropriate protection of any personally identifiable information (“Personal Information”) you share with us. We may receive information from you via general access to the site, software products purchases & downloads, cookies and other tracking technologies or log files.
                            </p>
                        </div>
                        <div class="mb-md-5 mb-4">
                            <p class="f-w-600 mb-2 font-18">
                                What are cookies?
                            </p>
                            <p class="font-16">
                                Cookies are simple text files that are stored on your computer or mobile device by a website's server. Each cookie is unique to your web browser. It will contain some anonymous
                                information such as a unique identifier, website's domain name, and some digits and numbers.
                            </p>
                            <p class="font-16">
                                Cookies are used extensively online and have become part of the fabric and make-up of what has made the internet work effectively for consumers and businesses. Without cookies, many areas of functionality (for example, user logins, shopping baskets and other customization features) would not work as expected. Further information on cookies can be found at
                                <a href="https://allaboutcookies.org/" target="_blank" class="text-normal f-w-500"> AllAboutCookies.org</a>.
                            </p>
                        </div>
                        <div class="mb-md-5 mb-4">
                            <p class="f-w-600 mb-2 font-18">
                                How to delete cookies?
                            </p>
                            <p class="font-16">
                                If you want to restrict or block the cookies that are set by our website, you can do so through your browser setting. Alternatively, you can visit <a href="https://www.internetcookies.com/" class="text-normal f-w-500" target="blank"> www.internetcookies.org</a>, which contains comprehensive information on how to do this on a wide variety of browsers and devices. You will find general information about cookies and details on how to delete cookies from your device.
                            </p>
                        </div>
                        <div class="mb-md-5 mb-4">
                            <p class="f-w-600 mb-2 font-18">
                                Governing Law & Jurisdiction
                            </p>
                            <p class="font-16">
                                The terms and conditions of this Policy shall be governed by Indian Laws.
                            </p>
                        </div>
                        <div class="mb-md-5 mb-4">
                            <p class="f-w-600 mb-2 font-18">
                                Contacting us
                            </p>
                            <p class="font-16">
                                If you have any questions about this policy or our use of cookies, please contact us at <a href="mailto:sales@ksolves.com" class="text-normal f-w-500">sales@ksolves.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>