<main class="main-section ks-bg-col">
    <div class="ks-content">
        <section class="ks-succes-story-page ks-success_story_section">
            <div class="aboutBan success_story_banner" data-oe-model="ir.ui.view" data-oe-id="5659" data-oe-field="arch" data-oe-xpath="/data/xpath/section/div[1]">
                <div class="container-fluid">
                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-9 banner aos-init aos-animate" data-aos="fade">
                                <h1 class="text-white text-center bold font-50 aos-init aos-animate" data-aos="zoom-in" data-aos-duration="1200">
                                    Odoo Success Stories
                                </h1>
                                <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-duration="1400">
                                    <p>
                                        A dream that was realised through the hard work of the
                                        employees <br>and the confidence of all our awesome Odoo clients.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="container snapshot_section light-bg pt-4 py-lg-5 rounded-20 mb-4 text-center office-address negative-margin">
                <div class="row pb-5 rowAdd">
                    <div class="col-lg-12 col-md-12 m-auto">
                        <div class="row mx-0">
                            <div class="col-md-12 mb-md-5">
                                <h3 class="semi-bold font-45 text-center my-lg-5 aos-init aos-animate" data-aos="fade-down" data-aos-duration="1200">Our Journey So Far in a Snapshot</h3>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="snapshot_items_wrap row">
                                    <div class="snapshot_item col aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
                                        <p>First Free App, Universal Discount was launched on Odoo App Store</p>
                                        <figure>
                                          <img src="./../../assets/images/success-story/snapshot-img-1.svg" width="127" height="223" alt="snapshot-1">
                                          <figcaption>
                                              <span>December</span><strong>2018</strong>
                                          </figcaption>
                                        </figure>
                                    </div>
                                    <div class="snapshot_item col aos-init aos-animate" data-aos="fade-up" data-aos-duration="1600">
                                        <p>First Paid App, Dashboard Ninja was launched</p>
                                        <figure>
                                          <img src="./../../assets/images/success-story/snapshot-img-2.svg" width="127" height="223" alt="snapshot-2">
                                          <figcaption>
                                              <span>January</span><strong>2019</strong>
                                          </figcaption>
                                        </figure>
                                    </div>
                                    <div class="snapshot_item col aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                                        <p>Dashboard Ninja gained and has retained its first Position on the Odoo App Store since July 2019</p>
                                        <figure>
                                          <img src="./../../assets/images/success-story/snapshot-img-3.svg" width="127" height="223" alt="snapshot-3">
                                          <figcaption>
                                              <span>August</span><strong>2019</strong>
                                          </figcaption>
                                        </figure>
                                    </div>
                                    <div class="snapshot_item col aos-init aos-animate" data-aos="fade-up" data-aos-duration="2400">
                                        <p>Dashboard Ninja Retained its first Position since 2019 with 500+ Downloads</p>
                                        <figure>
                                          <img src="./../../assets/images/success-story/snapshot-img-4.svg" width="127" height="223" alt="snapshot-4">
                                          <figcaption>
                                              <span>August</span>
                                              <strong>2019-</strong>
                                              <span>July</span>
                                              <strong>2020</strong>
                                          </figcaption>
                                        </figure>
                                    </div>
                                    <div class="snapshot_item col aos-init aos-animate" data-aos="fade-up" data-aos-duration="2800">
                                        <p>First Odoo development company, listed on the biggest stock exchange in India,  National Stock Exchange (NSE), an honor bestowed on only 1300 companies.</p>
                                        <figure>
                                          <img src="./../../assets/images/success-story/snapshot-img-5.svg" width="127" height="223" alt="snapshot-5">
                                          <figcaption>
                                              <span>July</span><strong>2020</strong>
                                          </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="ks-grey-bg">
                <div class="light-bg">
                    <div class="container">
                        <div class="row py-4 py-lg-5">
                        <div class="col-md-12 m-auto">
                            <div class="row mx-0">
                                <div class="col-md-12">
                                    <h3 class="semi-bold font-45 text-center mb-4 my-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">Our Success
                                        Stories
                                    </h3>
                                </div>
                                <div class="col-sm-6 col-lg-3 mb-3 m-lg-0 stories_item">
                                    <div class="card border-0 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000">
                                        <div class="thumb">
                                            <img src="./../../assets/images/success-story/dashboard-ninja.png" alt="Dashboard Ninja">
                                        </div>
                                        <div class="card-body">
                                            <div class="font-20 mb-1 bold pb-1">
                                                <strong>Dashboard Ninja</strong>
                                            </div>
                                            <p class="font-16">Ranked on No.1 position on the Odoo App store with 500+ downloads, since its launch. One of our most loved Odoo apps worldwide by our customers.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3 mb-3 m-lg-0 stories_item">
                                    <div class="card border-0 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1600">
                                        <div class="thumb">
                                            <img src="./../../assets/images/success-story/odoo-apps-themes.svg" alt="Odoo Apps &amp; Themes">
                                        </div>
                                        <div class="card-body">
                                            <div class="font-20 mb-1 bold pb-1">
                                                <strong>100+ Odoo Apps &amp; Themes</strong>
                                            </div>
                                            <p class="font-16">We have been serving the Odoo community with our industry-proven skills by developing apps and themes that enhance the user experience and solves their existing pain-points with the system. This is the reason we have been able to gather the trust of  8k+ happy clients.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3 mb-3 m-lg-0 stories_item">
                                    <div class="card border-0 aos-init aos-animate" data-aos="fade-right" data-aos-duration="2200">
                                        <div class="thumb">
                                            <img src="./../../assets/images/success-story/theme-kinetik.svg" alt="Theme Kinetik">
                                        </div>
                                        <div class="card-body">
                                            <div class="font-20 mb-1 bold pb-1">
                                                <strong>Theme Kinetik</strong>
                                            </div>
                                            <p class="font-16">Quickly acquired Number 1 position when it was launched, the theme is now one of the best performing Odoo eCommerce themes with maximum ratings. Known for its powerful features like RTL Support, Multi-Language Support, Multi-Company Support, etc.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3 mb-3 m-lg-0 stories_item">
                                    <div class="card border-0 aos-init aos-animate" data-aos="fade-right" data-aos-duration="2800">
                                        <div class="thumb">
                                            <img src="./../../assets/images/success-story/backend-theme-kernel.png" alt="Backend Theme Kernel">
                                        </div>
                                        <div class="card-body">
                                            <div class="font-20 mb-1 bold pb-1">
                                                <strong>Backend Theme Kernel</strong>
                                            </div>
                                            <p class="font-16">The ultimate combination of attractive view and powerful performance, Making it the most desirable and loved Odoo backend theme.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="blue-gradient py-5 mb-0 approach_wrap aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                    <div class="container mb-5">
                        <div class="row">
                            <div class="col-md-9 m-auto">
                                <h2 class="white-text bold mb-4 font-45 text-center pt-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1400">Our Approach
                                </h2>
                                <p class="text-center font-16 white-text pb-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1800">With our independent yet collaborative approach, we endeavor to deliver the most effective Odoo apps and themes. At Ksolves India Limited, we offer unparalleled customer satisfaction through our comprehensive Odoo apps, Odoo themes, and Odoo extensions. Identifying pain points and enhancement areas for pre-existing vanilla features are our specialty.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>