<main class="main-section ks-bg-grey">
    <div class="ks-content">
        <section class="ks-policy">
            <div class="container pt-4 pt-md-5 pb-4">
                <div class="mx-2 row py-md-5 py-4 light-bg rounded-20">
                    <div class="col-lg-10 col-md-12 m-auto">
                        <h2 class="ks-poilcy-head text-center mb-md-5 mb-3 f-w-700">
                            Odoo Support and Maintenance
                        </h2>
                        <p class="font-16 mb-md-5 mb-4">
                            Odoo ERP Support and maintenance is an integral service provided by Ksolves. Our team of technical and functional engineers caters to all sorts of problems our customers ask for. We help them to identify different kinds of technical issues which they face in the company and guide them with appropriate solutions. Our highly experienced and technically qualified team provides best support via documenting, customizing, bug fixing, guiding and other allied supports. We provide various services to the Odoo users.        
                        </p>
                        <div class="mb-md-5 mb-4">
                            <p class="f-w-600 font-18">
                                Our Support Plans for Your Business Needs
                            </p>
                           
                            <div class="font-16 num-pointer">
                                <p>
                                    <span class="num">1</span>
                                    <span>
                                        Ksolves India Ltd offers multiple support plans for businesses who need a foolproof, reliable, and robust ERP system for their business productivity and efficiency. 
                                    </span>                      
                                </p>
                                <p class="mb-0">
                                    <span class="num">2</span>
                                    <span>
                                        We also provide remote Odoo support via telephone, text, or screen sharing within the agreed response times. The Support Mediums include:
                                    </span>
                                </p>
                                <p class="pl-5 d-flex align-items-start justify-content-start flex-column">
                                        <span class="d-flex align-items-center">
                                            <span class="img-dot">
                                                <img src="../../../assets/images/empty-cart/buttet-dot.png" alt="dot" width="10" height="10">
                                            </span>
                                            <span>Email</span>
                                        </span>
                                        <span class="d-flex align-items-center">
                                            <span class="img-dot">
                                                <img src="../../../assets/images/empty-cart/buttet-dot.png" alt="dot" width="10" height="10">
                                            </span>
                                            <span>Skype</span>
                                        </span>
                                        <span class="d-flex align-items-center">
                                            <span class="img-dot">
                                                <img src="../../../assets/images/empty-cart/buttet-dot.png" alt="dot" width="10" height="10">
                                            </span>
                                            <span>ZOOM</span>
                                        </span>
                                        <span class="d-flex align-items-center">
                                            <span class="img-dot">
                                                <img src="../../../assets/images/empty-cart/buttet-dot.png" alt="dot" width="10" height="10">
                                            </span>
                                            <span>Team viewer</span>
                                        </span>
                                        <span class="d-flex align-items-center">
                                            <span class="img-dot">
                                                <img src="../../../assets/images/empty-cart/buttet-dot.png" alt="dot" width="10" height="10">
                                            </span>
                                            <span>Hangout</span>
                                        </span>
                                        <span class="d-flex align-items-center">
                                            <span class="img-dot">
                                                <img src="../../../assets/images/empty-cart/buttet-dot.png" alt="dot" width="10" height="10">
                                            </span>
                                            <span>Anydesk</span>
                                        </span>
                                </p>
                                <p>
                                    <span class="num">3</span>
                                    <span>
                                        Support period starts soon after the payment from the customer. The work commences from the date of money received from the customer. 
                                    </span>               
                                </p>
                                <p>
                                    <span class="num">4</span>
                                    <span>
                                        To enable Ksolvess to respond towards certain Odoo issues, Ksolves might need that customer furnish Ksolves with a test case and sufficient documentation to allow recreation of the Odoo problem.
                                    </span>                     
                                </p>
                                <p>
                                    <span class="num">5</span>
                                    <span>
                                        The clients are responsible for maintaining a good connection to the Internet or any telecommunication medium to avail remote support service from us.
                                    </span>                
                                </p>
                            </div>
                        </div>
                        <div class="mb-md-5 mb-4">
                            <p class="mb-0 font-16">
                                For Further Assistance, you can raise a <a [routerLink]="['/ticket-request']" routerLinkActive="router-link-active"  class="text-warning" target="_blank">Ticket here</a>                            
                            </p>
                            <br>
                            <p class="mb-0 font-16">
                                Looking for Any Help? Contact Us!
                            </p>
                            <p class="mb-0 font-16">
                                WhatsApp: +1(646)-203-1075, +91-7498170227     
                            </p>
                            <p class="font-16">
                                Email: <a href="mailto:sales@ksolves.com" class="text-warning"><span>sales@ksolves.com</span></a>                     
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>